---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/optimized-trips/v1/mapbox/driving-traffic/-118.073740,33.939410;-118.021485,33.770661;-118.025938,33.764732;-118.021782,33.767717?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&geometries=geojson&overview=full&source=first&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Interval:
      - '60'
      Etag:
      - W/"4723-eGIzTOmldbt6SVlXI0JX/h7+F8s"
      X-Shard-Id:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Ok","waypoints":[{"distance":25.98444941117889,"name":"","location":[-118.073459,33.939412],"waypoint_index":0,"trips_index":0},{"distance":22.964525651762372,"name":"Klamath
        Drive","location":[-118.021676,33.770529],"waypoint_index":3,"trips_index":0},{"distance":19.730443618164344,"name":"","location":[-118.026151,33.764733],"waypoint_index":1,"trips_index":0},{"distance":25.38162730677589,"name":"Chickasaw
        Drive","location":[-118.021992,33.76757],"waypoint_index":2,"trips_index":0}],"trips":[{"geometry":{"coordinates":[[-118.073459,33.939412],[-118.07346,33.939483],[-118.073457,33.939758],[-118.073469,33.939948],[-118.072782,33.939955],[-118.072782,33.939839],[-118.07278,33.939065],[-118.07278,33.938956],[-118.072779,33.938908],[-118.072778,33.938522],[-118.072776,33.938009],[-118.072773,33.937246],[-118.072773,33.937063],[-118.072771,33.936738],[-118.072771,33.936544],[-118.072769,33.936083],[-118.072769,33.936071],[-118.072766,33.935338],[-118.073378,33.935332],[-118.073689,33.935329],[-118.073925,33.935325[...]
