---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3818%20Eastern%20Ave%20N%20Seattle%20WA%2098103&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "3818",
                       "short_name" : "3818",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Eastern Avenue North",
                       "short_name" : "Eastern Ave N",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Wallingford",
                       "short_name" : "Wallingford",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
             [...]
