---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1830%20Parker%20St%20Berkeley%20CA%2094703&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Francisco, CA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1830",
                       "short_name" : "1830",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Parker Street",
                       "short_name" : "Parker St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "South Berkeley",
                       "short_name" : "South Berkeley",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3863%20Bednar%20Club%20Bradtkefurt%20ID%2060010-3475&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=8129%20Maggio%20Mission%20Alvarostad%20KS%2057785-3131&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1830%20Parker%20St%20Berkeley%20CA%2094703&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Francisco, CA
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
