---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%20Seattle%20WA%2098103&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "98103",
                       "short_name" : "98103",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA 98103, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.7014659,
                          "lng" : -122.326291
                       },
                       "southwest" : {
                          "lat" : 47.6395199,
                          "lng" : -122.3594931
                       }
                    },
                    "location" : {
                       "lat" : 47.6600087,
                       "lng" : -122.3425575
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.7014659,
                          "lng" : -122.326291
                       },
                       "southwest" : {
                          "lat" : 47.6395199,
                          "lng" : -122.3594931
                       }
                    }
                 },
                 "place_id" : "ChIJFT-C4gEUkFQRl6YWwUtrexc",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1%20Seattle%20WA%2098103&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Discovery%20Park%20Seattle%20WA%2098103&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "r[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Wallingford%20Seattle%20WA%2098103&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "result[...]
