---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=9747%20Augustine%20Falls%20Lake%20Emanuelland%20WI%2036460-0707&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Falls Lake",
                       "short_name" : "Falls Lake",
                       "types" : [ "establishment", "natural_feature" ]
                    },
                    {
                       "long_name" : "North Carolina",
                       "short_name" : "NC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Falls Lake, North Carolina, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 36.1094111,
                          "lng" : -78.57195969999999
                       },
                       "southwest" : {
                          "lat" : 35.929445,
                          "lng" : -78.8275448
                       }
                    },
                    "location" : {
                       "lat" : 36.027528,
                       "lng" : -78.7192776
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 36.1094111,
                          "lng" : -78.57195969999999
                       },
                       "southwest" : {
                          "lat" : 35.929445,
                          "lng" : -78.8275448
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJMc2y3vj-rIkRpzd2RjOPPs8",
                 "types" : [ "establishment", "natural_feature" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Wisconsin",
                       "short_name" : "WI",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_na[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=559%20Hosea%20Unions%20Lorenzaside%20OK%2043585-6155&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=56304%20Paucek%20Ridge%20Dachfurt%20AZ%2095197&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Minneapolis, MN
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "56304",
                       "short_name" : "56304",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "St. Cloud",
                       "short_name" : "St Cloud",
                  [...]
