---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=100&page=1&start_date_from=2022-06-03T00:00:00Z&start_date_to=2022-06-03T23:59:59Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":7,"items":[{"alayacare_client_id":1005,"alayacare_employee_id":182,"alayacare_service_id":858,"alayacare_visit_id":1482,"cancel_code":null,"cancelled":false,"client_id":null,"employee_id":"13244","end_at":"2022-06-03T14:05:00+00:00","notes":[],"service_code_id":13,"service_id":"","start_at":"2022-06-03T13:35:00+00:00","status":"missed","tags":[],"visit_id":null},{"alayacare_client_id":1022,"alayacare_employee_id":182,"alayacare_service_id":859,"alayacare_visit_id":1483,"cancel_code":null,"cancelled":false,"client_id":null,"employee_id":"13244","end_at":"2022-06-03T14:05:00+00:00","notes":[],"service_code_id":13,"service_id":"","start_at":"2022-06-03T13:35:00+00:00","status":"missed","tags":[],"visit_id":null},{"alayacare_client_id":1022,"alayacare_employee_id":182,"alayacare_service_id":859,"alayacare_visit_id":1484,"cancel_code":null,"cancelled":[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=100&page=1&start_date_from=2022-05-04T00:00:00Z&start_date_to=2022-05-04T23:59:59Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"items":[{"alayacare_client_id":1874,"alayacare_employee_id":null,"alayacare_service_id":592,"alayacare_visit_id":1137,"cancel_code":null,"cancelled":false,"client_id":"7897899","employee_id":null,"end_at":"2022-05-04T12:55:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2022-05-04T11:25:00+00:00","status":"vacant","tags":[],"visit_id":null}],"items_per_page":100,"page":1,"total_pages":1}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/service_codes?count=100&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":17,"items":[{"branch":{"id":1000,"name":"medarrive"},"id":1,"name":"Example
        Service"},{"branch":{"id":1000,"name":"medarrive"},"id":2,"name":"Post-Hospitalization
        Visit"},{"branch":{"id":1000,"name":"medarrive"},"id":3,"name":"Post-Hospitalization
        Visit"},{"branch":{"id":1000,"name":"medarrive"},"id":4,"name":"Congestive
        Heart Failure"},{"branch":{"id":1000,"name":"medarrive"},"id":5,"name":"Vault
        - Phlebotomy"},{"branch":{"id":1000,"name":"medarrive"},"id":6,"name":"Bright
        Healthcare Hi[...]
