---
http_interactions:
- request:
    method: post
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits/729/notes
    body:
      encoding: UTF-8
      string: '{"text":"<GOOGLE_SERVICES_API_KEY> NOTE -Bob Hope"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"alayacare_client_id":1233,"alayacare_employee_id":157,"alayacare_service_id":558,"alayacare_visit_id":729,"cancel_code":{"code":"Patient
        Refused Visit","description":"","id":3},"cancelled":true,"client_id":"8408","employee_id":"55669","end_at":"2021-12-30T23:36:00+00:00","notes":[{"created_at":"2022-06-21T21:34:01+00:00","text":"<GOOGLE_SERVICES_API_KEY>"},{"created_at":"2022-06-21T21:45:15+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE\n\nClarence Lowe"},{"created_at":"2022-06-21T21:48:52+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE"},{"created_at":"2022-06-21T21:48:58+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE\n\nBob Hope"},{"created_at":"2022-07-01T21:01:59+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE -Bob Hope"}],"service_code_id":6,"service_id":"","start_at":"2021-12-30T22:06:00+00:00","status":"cancelled","tags":[],"visit_id":"external_8408"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
