---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/by_id/l34jl4j4t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002490","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"birthday":"2000-10-21","first_name":"Enoch","last_name":"Brekke","location":null,"phone_main":"+18991631833","phone_other":"(714)
        112-5139 x11919","phone_personal":"+18991631833","uid":"l34jl4j4t"},"external_id":"l34jl4j4t","groups":[],"id":1088,"language":"pt","profile_id":265,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/services
    body:
      encoding: UTF-8
      string: '{"client":{"client_id":"l34jl4j4t"},"service_code_id":7,"name":"Visit
        for patient: Jesica v Okuneva","funding_methodology":"single_funder","guid_funder_breakdowns":[{"funder_id":1,"is_primary":1,"percentage":100}]}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"external_id":"","id":262}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
