---
http_interactions:
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits/729
    body:
      encoding: UTF-8
      string: '{"service_instructions":"<GOOGLE_SERVICES_API_KEY> AC NOTE"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"alayacare_client_id":1233,"alayacare_employee_id":157,"alayacare_service_id":558,"alayacare_visit_id":729,"cancel_code":{"code":"Patient
        Refused Visit","description":"","id":3},"cancelled":true,"client_id":"8408","employee_id":"55669","end_at":"2021-12-30T23:36:00+00:00","notes":[{"created_at":"2022-06-21T21:34:01+00:00","text":"<GOOGLE_SERVICES_API_KEY>"},{"created_at":"2022-06-21T21:45:15+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE\n\nClarence Lowe"},{"created_at":"2022-06-21T21:48:52+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE"},{"created_at":"2022-06-21T21:48:58+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE\n\nBob Hope"}],"service_code_id":6,"service_id":"","start_at":"2021-12-30T22:06:00+00:00","status":"cancelled","tags":[],"visit_id":"external_8408"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?%7B:alayacare_client_id=%3E1233,%20:start_date_from=%3EFri,%2020%20Mar%202020%2000:00:00.000000000%20UTC%20%2000:00,%20:start_date_to=%3ESun,%2021%20Mar%202021%2000:00:00.000000000%20UTC%20%2000:00%7D.to_query%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":11,"items":[{"alayacare_client_id":21200,"alayacare_employee_id":176,"alayacare_service_id":1091,"alayacare_visit_id":1501,"cancel_code":null,"cancelled":false,"client_id":"lksdjkl","employee_id":"8055","end_at":"2022-07-01T21:53:00+00:00","notes":[],"service_code_id":7,"service_id":"","start_at":"2022-07-01T21:23:00+00:00","status":"scheduled","tags":[],"visit_id":"Visit_VvRQ8JGbkqYNgDXm"},{"alayacare_client_id":21170,"alayacare_employee_id":181,"alayacare_service_id":1132,"alayacare_visit_id":1612,"cance[...]
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?alayacare_client_id=1233&end_at=2021-03-21T00:00:00%2B00:00&start_at=2020-03-20T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":0,"items":[],"items_per_page":100,"page":1,"total_pages":1}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
