---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":6,"items":[{"active_client_count":22,"active_employee_count":5,"active_facility_count":0,"active_supplier_count":0,"branch":{"id":1000,"name":"medarrive"},"description":null,"id":1032,"is_disabled":false,"name":"Bright
        Health"},{"active_client_count":28,"active_employee_count":10,"active_facility_count":0,"active_supplier_count":0,"branch":{"id":1000,"name":"medarrive"},"description":null,"id":1178,"is_disabled":false,"name":"Bright
        Healthcare"},{"active_client_count":0,"active_employee_count":3,"active_facility_count":0,"active_supplier_count":0,"branch":{"id":1000,"name":"medarrive"},"description":null,"id":1033,"is_disabled":false,"name":"FCC"},{"active_client_count":8,"active_employee_count":3,"active_facility_count":0,"active_supplier_count":0,"branch":{"id":1000,"name":"medarrive"},"description":null,"id":1030,"is_disabled":false,"name":"Molina"},{"active_client_count":1,"active_employee_count":0,"active_facility_count":0,"active_supplier_count":0,"branch":{"id":1000,"name":"medarrive"},"description":null,"id":1031,"is_disabled":false,"name":"MPG"},{"active_client_count":0,"active_employee_count":1,"active_facility_count":0,"active_supplier_count":0,"branch":{"id":1000,"name":"medarrive"},"description":null,"id":1087,"is_disabled":false,"name":"SCAN
        HEALTH"}],"items_per_page":100,"page":1,"total_pages":1}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
