---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2//patients/clients/by_id/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000000409","branch_id":1000,"care_team":[{"external_id":null,"id":113,"name":"Sonia
        Ortubez"}],"contacts":[],"cost_centre":null,"demographics":{"address":"123
        FARAWAY KINGDOM","address_suite":"CASTLE 1","birthday":"2020-05-20","care_needs":"FOOT
        THERAPY","city":"FAIRYLAND","company":"ROYAL ROYALS","country":"US","email":"<GOOGLE_SERVICES_API_KEY>@<GOOGLE_SERVICES_API_KEY>.COM","first_name":"CINDERELLA","gender":"F","job_title":"QUEEN","last_name":"<GOOGLE_SERVICES_API_KEY>","location":{"lat":37.808708,"lon":-122.260367,"zip":"1234"},"medical_status":"DISCHARED","medicare_id":"XXX21C2X121XC2","phone_main":"3333333233","service_frequency":"ONCE
        A WEEK","state":"CA","uid":"1234","zip":"1234"},"external_id":"1234","groups":[],"id":1019,"language":"en","profile_id":56,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
