---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=100&end_at=2021-11-19T23:59:59Z&page=1&start_at=2021-11-18T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":27,"items":[{"alayacare_client_id":1101,"alayacare_employee_id":157,"alayacare_service_id":322,"alayacare_visit_id":495,"cancel_code":null,"cancelled":false,"client_id":"12","employee_id":"55669","end_at":"2021-11-18T16:16:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2021-11-18T14:46:00+00:00","status":"missed","tags":[],"visit_id":null},{"alayacare_client_id":1059,"alayacare_employee_id":155,"alayacare_service_id":421,"alayacare_visit_id":585,"cancel_code":{"code":"Patient
        No Show","description":"Patient was not home at time of visit","id":4},"cancelled":true,"client_id":"735858774","employee_id":"152","end_at":"2021-11-18T16:25:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2021-11-18T14:55:00+00:00","status":"cancelled","tags":[],"visit_id":null},{"alayacare_client_id":1180,"alayacare_employee_id":150,"alayacare_service_id":416,"alayacare_visit_id":584,"cancel_code":{"code":"Patient
        Requested Reschedule","description":"","id":5},"cancelled":true,"client_id":"8426","employee_id":"154","end_at":"2021-[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002713","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"1118
        1/2 W 94TH ST","address_suite":" ","birthday":"1959-01-01","city":"LOS ANGELES","first_name":"First12","gender":"F","last_name":"Last12","location":{"lat":33.95077,"lon":-118.29464,"zip":"90044"},"phone_main":"+12763409493","phone_other":"+13234189092","phone_personal":"+12763409493","state":"CA","uid":"12","zip":"90044"},"external_id":"12","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":1101,"language":null,"profile_id":305,"status":"active","tags":[],"timezone":"America/Los_Angeles"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1059
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001504","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"2222
        South Blvd","birthday":"1970-06-19","city":"Charlotte","country":"US","first_name":"Selena","last_name":"Rosenbaum","location":{"lat":35.20665,"lon":-80.86241,"zip":"28203"},"phone_main":"+15418899616","phone_other":"1-312-491-5995
        x86374","phone_personal":"+15418899616","state":"NC","uid":"735858774","zip":"28203"},"external_id":"735858774","groups":[{"id":1030,"name":"Molina"}],"id":1059,"language":"other","profile_id":156,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1022
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000000547","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"1234
        MAGIC KINGDOM","birthday":"1955-01-02","city":"KINDOM OF HEARTS","company":"","country":"US","email":"mickeyisamouse@example.com","first_name":"Mickey","gender":"M","last_name":"Mouse","location":{"lat":28.418777,"lon":-81.581772,"zip":"33254"},"phone_main":"3059886547","state":"FL","zip":"33254"},"external_id":null,"groups":[],"id":1022,"language":"en","profile_id":66,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/by_id/l34jl4j4t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002490","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"birthday":"2000-10-21","first_name":"Enoch","last_name":"Brekke","location":null,"phone_main":"+18991631833","phone_other":"(714)
        112-5139 x11919","phone_personal":"+18991631833","uid":"l34jl4j4t"},"external_id":"l34jl4j4t","groups":[],"id":1088,"language":"pt","profile_id":265,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/services
    body:
      encoding: UTF-8
      string: '{"client":{"client_id":"l34jl4j4t"},"service_code_id":7,"name":"Visit
        for patient: Shiloh d Champlin","funding_methodology":"single_funder","guid_funder_breakdowns":[{"funder_id":1,"is_primary":1,"percentage":100}]}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"external_id":"","id":825}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits
    body:
      encoding: UTF-8
      string: '{"client_id":"l34jl4j4t","start_at":"2021-11-18T12:00:00.000Z","end_at":"2021-11-18T13:00:00.000Z","alayacare_service_id":825,"employee_id":"123","service_instructions":""}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"alayacare_client_id":1088,"alayacare_employee_id":142,"alayacare_service_id":825,"alayacare_visit_id":976,"cancel_code":null,"cancelled":false,"client_id":"l34jl4j4t","employee_id":"123","end_at":"2021-11-18T13:00:00+00:00","notes":[],"service_code_id":7,"service_id":"","start_at":"2021-11-18T12:00:00+00:00","status":"missed","tags":[],"visit_id":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/55669
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002581","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"322
        Quietwood Dr","city":"Winston Salem","country":"US","first_name":"Lauren","last_name":"Bogar","location":{"lat":36.0548,"lon":-80.29372,"zip":"27103"},"state":"NC","uid":"55669","zip":"27103"},"departments":[],"designation":null,"employment_type":null,"external_id":"55669","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":157,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":279,"roles":[],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/55671
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002587","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"2125
        Josephus Dr","address_suite":"Apt 202","city":"Charlotte","country":"US","first_name":"Josiah","last_name":"Balbuena","location":{"lat":35.32882,"lon":-80.93702,"zip":"28216"},"salutation":"","state":"NC","uid":"55671","zip":"28216"},"departments":[],"designation":null,"employment_type":null,"external_id":"55671","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":160,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":282,"roles":[],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/57758
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002579","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"2616
        Merion Hills Court","city":"Charlotte","country":"US","first_name":"Addison","last_name":"Schroeder","location":{"lat":35.34436,"lon":-80.763,"zip":"28269"},"state":"NC","uid":"57758","zip":"28269"},"departments":[],"designation":null,"employment_type":null,"external_id":"57758","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":156,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":278,"roles":[],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
