---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/cancelcodes?count=100&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":6,"items":[{"branch":{"id":1000,"name":"medarrive"},"code":"Patient
        Refused Visit","description":"","id":3},{"branch":{"id":1000,"name":"medarrive"},"code":"Patient
        No Show","description":"Patient was not home at time of visit","id":4},{"branch":{"id":1000,"name":"medarrive"},"code":"Patient
        Requested Reschedule","description":"","id":5},{"branch":{"id":1000,"name":"medarrive"},"code":"Patient
        Reported COVID Exposure","description":"Patient cancelled because of a possible
        case of COVID or COVID exposure, and should be called later for a reschedule","id":6},{"branch":{"id":1000,"name":"medarrive"},"code":"Patient
        Hospitalized","description":"","id":7},{"branch":{"id":1000,"name":"medarrive"},"code":"Conflicting
        Clinical Appointment","description":"","id":8}],"items_per_page":100,"page":1,"total_pages":1}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
