---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/services/forms?count=100&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":100,"items":[{"branch":{"id":1000,"name":"medarrive"},"id":91,"name":"000
        COVID-19"},{"branch":{"id":1000,"name":"medarrive"},"id":108,"name":"000 COVID-19"},{"branch":{"id":1000,"name":"medarrive"},"id":109,"name":"000
        COVID-19"},{"branch":{"id":1000,"name":"medarrive"},"id":72,"name":"000A Consent
        to Treatment"},{"branch":{"id":1000,"name":"medarrive"},"id":33,"name":"000Z
        Lab Specimen - Prior to Visit"},{"branch":{"id":1000,"name":"medarrive"},"id":36,"name":"001A
        Post Hospitalization Visit - [...]
