---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=100&end_at=2020-03-23T23:59:59Z&page=1&start_at=2020-03-21T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":8,"items":[{"alayacare_client_id":1189,"alayacare_employee_id":132,"alayacare_service_id":831,"alayacare_visit_id":978,"cancel_code":null,"cancelled":false,"client_id":"8407","employee_id":"S132","end_at":"2020-03-22T01:00:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2020-03-22T00:00:00+00:00","status":"missed","tags":[],"visit_id":"Visit_QQ7oFydMeepgpR2b"},{"alayacare_client_id":1189,"alayacare_employee_id":132,"alayacare_service_id":826,"alayacare_visit_id":979,"cancel_code":null,"cancelled":false,"client_id":"8407","employee_id":"S132","end_at":"2020-03-22T01:00:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2020-03-22T00:00:00+00:00","status":"missed","tags":[],"visit_id":"Visit_zp2dGtnCrksgJ3H2"},{"alayacare_client_id":1189,"alayacare_employee_id":132,"alayacare_service_id":826,"alayacare_visit_i[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1189
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000003446","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"22
        Fairview Ave","birthday":"1950-12-12","city":"Pittsburgh","country":"US","first_name":"Leslie","last_name":"Anderson","location":{"lat":40.51266,"lon":-80.02775,"zip":"15229-1920"},"phone_main":"+17249783078","phone_personal":"+17249783078","state":"PA","uid":"8407","zip":"15229-1920"},"external_id":"8407","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":1189,"language":"0","profile_id":417,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/S132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001009","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"country":"US","email":"juan@bartell-mclaughlin.name","first_name":"Cristi","last_name":"Bernier","location":null,"phone_main":"4255168980","uid":"S132"},"departments":[],"designation":null,"employment_type":null,"external_id":"S132","groups":[{"id":1032,"name":"Bright
        Health"},{"id":1033,"name":"FCC"}],"id":132,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":105,"roles":[{"id":32,"name":"Field
        Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":"juan@bartell-mclaughlin.name"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1189
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000003446","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"22
        Fairview Ave","birthday":"1950-12-12","city":"Pittsburgh","country":"US","first_name":"Leslie","last_name":"Anderson","location":{"lat":40.51266,"lon":-80.02775,"zip":"15229-1920"},"phone_main":"+17249783078","phone_personal":"+17249783078","state":"PA","uid":"8407","zip":"15229-1920"},"external_id":"8407","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":1189,"language":"0","profile_id":417,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
