---
http_interactions:
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits/by_id/external_8408
    body:
      encoding: UTF-8
      string: '{"service_instructions":"<GOOGLE_SERVICES_API_KEY> LOCAL NOTE"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"alayacare_client_id":1233,"alayacare_employee_id":157,"alayacare_service_id":558,"alayacare_visit_id":729,"cancel_code":{"code":"Patient
        Refused Visit","description":"","id":3},"cancelled":true,"client_id":"8408","employee_id":"55669","end_at":"2021-12-30T23:36:00+00:00","notes":[{"created_at":"2022-06-21T21:34:01+00:00","text":"<GOOGLE_SERVICES_API_KEY>"},{"created_at":"2022-06-21T21:45:15+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE\n\nClarence Lowe"},{"created_at":"2022-06-21T21:48:52+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE"},{"created_at":"2022-06-21T21:48:58+00:00","text":"<GOOGLE_SERVICES_API_KEY>
        NOTE\n\nBob Hope"}],"service_code_id":6,"service_id":"","start_at":"2021-12-30T22:06:00+00:00","status":"cancelled","tags":[],"visit_id":"external_8408"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?%7B:alayacare_client_id=%3E1233,%20:start_date_from=%3EFri,%2020%20Mar%202020%2000:00:00.000000000%20UTC%20%2000:00,%20:start_date_to=%3ESun,%2021%20Mar%202021%2000:00:00.000000000%20UTC%20%2000:00%7D.to_query%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":11,"items":[{"alayacare_client_id":21200,"alayacare_employee_id":176,"alayacare_service_id":1091,"alayacare_visit_id":1501,"cancel_code":null,"cancelled":false,"client_id":"lksdjkl","employee_id":"8055","end_at":"2022-07-01T21:53:00+00:00","notes":[],"service_code_id":7,"service_id":"","start_at":"2022-07-01T21:23:00+00:00","status":"scheduled","tags":[],"visit_id":"Visit_VvRQ8JGbkqYNgDXm"},{"alayacare_client_id":21170,"alayacare_employee_id":181,"alayacare_service_id":1132,"alayacare_visit_id":1612,"cance[...]
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits/1501
    body:
      encoding: UTF-8
      string: '{"service_instructions":"<GOOGLE_SERVICES_API_KEY> LOCAL NOTE"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"alayacare_client_id":21200,"alayacare_employee_id":176,"alayacare_service_id":1091,"alayacare_visit_id":1501,"cancel_code":null,"cancelled":false,"client_id":"lksdjkl","employee_id":"8055","end_at":"2022-07-01T21:53:00+00:00","notes":[],"service_code_id":7,"service_id":"","start_at":"2022-07-01T21:23:00+00:00","status":"scheduled","tags":[],"visit_id":"Visit_VvRQ8JGbkqYNgDXm"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=39084%20Moore%20Curve%20Feestside%20SD%2007077-3589&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "07077",
                       "short_name" : "07077",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Sewaren",
                       "short_name" : "Sewaren",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Middlesex County",
                       "short_name" : "Middlesex County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Sewaren, NJ 07077, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.568245,
                          "lng" : -74.22858900000001
                       },
                       "southwest" : {
                          "lat" : 40.536874,
                          "lng" : -74.2717249
                       }
                    },
                    "location" : {
                       "lat" : 40.5513168,
                       "lng" : -74.2590148
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.568245,
                          "lng" : -74.22858900000001
                       },
                       "southwest" : {
                          "lat" : 40.536874,
                          "lng" : -74.2717249
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJn6PF2gK1w4kRlslnPtXprR8",
                 "postcode_localities" : [ "Perth Amboy", "Woodbridge Township" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=381%20Jolene%20Vista%20West%20Zofiaside%20GA%2086849-4857&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2137%20Rice%20Harbor%20North%20Koreyville%20WI%2015219&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Sydney
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" [...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?alayacare_client_id=1233&end_at=2021-03-21T00:00:00%2B00:00&start_at=2020-03-20T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":0,"items":[],"items_per_page":100,"page":1,"total_pages":1}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=811%20Kohler%20Alley%20Port%20Johnsonberg%20MD%2040918&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2743%20Daniell%20Manors%20Ednastad%20FL%2068196&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Miami, FL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=952%20Howe%20Well%20Port%20Ezekiel%20WV%2091282-0556&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3636%20Cummings%20Knolls%20New%20Caitlynbury%20MA%2043783&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3555%20Ebert%20Fort%20North%20Tashastad%20WV%2095302&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=41765%20Guadalupe%20Creek%20Kuvalisville%20MS%2083741-1747&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Jose, CA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=704%20Karl%20Walks%20West%20Benedictbury%20LA%2056769-3146&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=366%20Malik%20Square%20Langport%20MO%2097589&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_component[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=56787%20Domitila%20Rest%20West%20Kurtstad%20MO%2066793-9806&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2104%20Vandervort%20Summit%20McGlynnstad%20NM%2028882-4825&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=32511%20Daniel%20Curve%20Kautzerstad%20CT%2015424-2753&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=8055%20Hauck%20Ports%20Harveymouth%20MD%2050979-0234&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Baltimore, MD
    body:
      encoding: UTF-8
      string: |
        {
           "results" [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=761%20Galen%20Ferry%20Port%20Arnold%20WA%2053554&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4440%20Collene%20Fort%20Yundtview%20MI%2024653&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1765%20Clemmie%20Square%20Lestermouth%20VT%2059346&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_componen[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=9263%20Quigley%20Stream%20Port%20Kayleen%20OH%2056753-0506&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=832%20Odette%20Junctions%20North%20Carylonborough%20AR%2016304-6340&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=276%20Marquardt%20Island%20West%20Bessiebury%20LA%2004332&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=748%20Merlin%20Motorway%20Candimouth%20CA%2007526-9267&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_comp[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=29385%20Koch%20Rest%20Seritaland%20KY%2064395-9226&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_componen[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4235%20Hettinger%20Heights%20Nikolausshire%20MT%2003547&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=276%20Tromp%20Highway%20Markettamouth%20MA%2050576-2116&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
