---
http_interactions:
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/customers/externalId=3645624t56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <KUSTOMER_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 174.21.77.246
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      Etag:
      - W/"9d7-+Rrs25hLbPikcdejbjVxfwhbUpA"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"customer","id":"6165b404259bf04dee2682f0","attributes":{"name":"API
        Works","displayName":"API Works","displayColor":"black","displayIcon":"compass","externalId":"3645624t56","externalIds":[{"verified":true,"externalVerified":false,"externalId":"3645624t56"}],"sharedExternalIds":[],"emails":[],"sharedEmails":[],"phones":[{"type":"home","verified":true,"phone":"+17345467319"}],"sharedPhones":[],"whatsapps":[],"facebookIds":[],"instagramIds":[],"socials":[],"sharedSocials":[],"urls":[{"type":"website","url":"http://localhost:3000/admin/patients/492"}],"locations":[],"activeUsers":[],"watchers":[],"recentLocation":{"updatedAt":"2021-10-12T16:12:52.593Z"},"gender":null,"createdAt":"2021-10-12T16:12:52.592Z","updatedAt":"2022-07-08T05:30:54.723Z","modifiedAt":"2022-07-08T05:30:54.517Z","lastActivityAt":"2022-07-08T05:30:54.723Z","deleted":false,"lastMessageIn":{"sentiment":{}},"lastMessageOut":{},"lastMessageUnrespondedTo":{},"lastConversation":{"sentiment":{},"channels":[],"tags":[]},"conversationCounts":{"done":10,"open":0,"snoozed":0,"all":10},"preview":{},"tags":[],"custom":{"demandPartnerStr":"Molina","regionStr":"Seattle","lastOutreachDateAt":"2022-07-08T05:30:54.510Z"},"progressiveStatus":"done","verified":true,"rev":75,"recentItems":[{"meta":{},"type":"conversation","id":"62c7c10ea656108097e14822","updatedAt":"2022-07-08T05:30:54.517Z"},{"meta":{},"type":"conversation","id":"62c7c06fd36d44140b742db1","updatedAt":"2022-07-08T05:28:15.032Z"},{"meta":{},"type":"conversation","id":"6282a01343f7b91da4ee0ecc","updatedAt":"2022-05-16T19:03:47.623Z"},{"meta":{},"type":"conversation","id":"62829fdfc6698a49064a55ea","updatedAt":"2022-05-16T19:02:55.594Z"},{"meta":{},"type":"conversation","id":"62829e5ec94c93ce0712ca5b","updatedAt":"2022-05-16T18:56:30.300Z"}],"satisfactionLevel":{"firstSatisfaction":{"sentByTeams":[]},"lastSatisfaction":{"sentByTeams":[]}},"roleGroupVersions":[],"accessOverride":[],"firstName":"API","lastName":"Works","unmaskingWindow":{}},"relationships":{"messages":{"links":{"self":"/v1/customers/6165b404259bf04dee2682f0/messages"}},"createdBy":{"links":{"self":"/v1/users/613791e78f967b001928de15"},"data":{"type":"user","id":"613791e78f967b001928de15"}},"modifiedBy":{"links":{"self":"/v1/users/61f96c44bc70fd5808e0f1fc"},"data":{"type":"user","id":"61f96c44bc70fd5808e0f1fc"}},"org":{"data":{"type":"org","id":"611be9d451ec6b63a1011d3c"},"links":{"self":"/v1/orgs/611be9d451ec6b63a1011d3c"}}},"links":{"self":"/v1/customers/6165b404259bf04dee2682f0"}}}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.kustomerapp.com/v1/conversations
    body:
      encoding: UTF-8
      string: '{"customer":"6165b404259bf04dee2682f0","name":"Conversation","custom":{"appointmentTimeStr":"Thursday
        Nov 18 2021 at  7:00AM","partnerDisplayNameStr":"Health Net","regardingProgramStr":"Centene
        - Health Net (LA, CA) - Vaccine"},"status":"done"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <KUSTOMER_API_KEY>
  response:
    status:
      code: 504
      message: Gateway Timeout
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 174.21.77.246
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
      Etag:
      - W/"25f-KvuUtJeBTu7MwS7pKXj1jQRguzA"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":504,"code":"unknown","title":"Internal API Error","detail":"<html>\r\n<head><title>504
        Gateway Time-out</title></head>\r\n<body>\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n</body>\r\n</html>\r\n","meta":{"method":"POST","uri":"https://sobjects-conversations:8443/v1/conversations","data":"{\"customer\":\"6165b404259bf04dee2682f0\",\"name\":\"Conversation\",\"custom\":{\"appointmentTimeStr\":\"Thursday
        Nov 18 2021 at  7:00AM\",\"partnerDisplayNameStr\":\"Health Net\",\"regardingProgramStr\":\"Centene
        - Health Net (LA, CA) - Vaccine\"},\"status\":\"done\"}","attempt":1}}]}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
