---
http_interactions:
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/customers/externalId=126588401
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <KUSTOMER_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 174.21.77.246
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      Etag:
      - W/"65-s+40w1cIGBGcdpolCOY90Z+5vq0"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":404,"source":{"parameter":"externalId"},"code":"notfound","title":"Not
        Found"}]}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/customers/externalId=837673505
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <KUSTOMER_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 174.21.77.246
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      Etag:
      - W/"65-s+40w1cIGBGcdpolCOY90Z+5vq0"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":404,"source":{"parameter":"externalId"},"code":"notfound","title":"Not
        Found"}]}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
