---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/oauth2/v1/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=athena%2Fservice%2FAthenanet.MDP.*&client_id=0oag8cvsnzNt58Vwl297&client_secret=3Q4CJrXaY_hgz-nNscFFVm02SpKOrcJS75tesqkl
    headers:
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","access_token":"tlPAACyh4U2nRE1zJsNt2vYe7f1b","scope":"athena/service/Athenanet.MDP.*"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointmentcancelreasons?limit=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer tlPAACyh4U2nRE1zJsNt2vYe7f1b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49994'
    body:
      encoding: UTF-8
      string: '{"totalcount":13,"appointmentcancelreasons":[{"noshow":false,"providerunavailable":false,"patientrescheduled":false,"name":"Conflicting
        clinical appointments","slotavailable":true,"appointmentcancelreasonid":24},{"noshow":false,"providerunavailable":false,"patientrescheduled":false,"name":"Decreased
        acuity","slotavailable":true,"appointmentcancelreasonid":26},{"noshow":false,"providerunavailable":false,"patientrescheduled":false,"name":"PATIENT
        CANCELLED","slotavailable":true,"appointmentcancelreasonid":13},{"noshow":true,"providerunavailable":false,"patientrescheduled":false,"name":"PATIENT
        NO SHOW","slotavailable":false,"appointmentcancelreasonid":10},{"noshow":false,"provi[...]
