---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointmentcancelreasons?limit=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer tlPAACyh4U2nRE1zJsNt2vYe7f1b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49994'
    body:
      encoding: UTF-8
      string: '{"totalcount":13,"appointmentcancelreasons":[{"noshow":false,"providerunavailable":false,"patientrescheduled":false,"name":"Conflicting
        clinical appointments","slotavailable":true,"appointmentcancelreasonid":24},{"noshow":false,"providerunavailable":false,"patientrescheduled":false,"name":"Decreased
        acuity","slotavailable":true,"appointmentcancelreasonid":26},{"noshow":false,"providerunavailable":false,"patientrescheduled":false,"name":"PATIENT
        CANCELLED","slotavailable":true,"appointmentcancelreasonid":13},{"noshow":true,"providerunavailable":false,"patientrescheduled":false,"name":"PATIENT
        NO SHOW","slotavailable":false,"appointmentcancelreasonid":10},{"noshow":false,"provi[...]
