---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/customfields?limit=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer tlPAACyh4U2nRE1zJsNt2vYe7f1b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49993'
    body:
      encoding: UTF-8
      string: '[{"customfieldid":"1","disallowupdate":false,"select":false,"casesensitive":true,"name":"MedArrive
        Patient ID","searchable":true,"type":"TEXT"},{"customfieldid":"23","disallowupdate":false,"select":false,"casesensitive":false,"name":"Primary
        Program","type":"REFERRINGPROVIDER"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/customfields?limit=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer tlPAACyh4U2nRE1zJsNt2vYe7f1b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49994'
    body:
      encoding: UTF-8
      string: '{"appointmentcustomfields":[{"customfieldid":21,"disallowupdate":false,"select":false,"casesensitive":true,"name":"MedArrive
        Visit ID","searchable":true,"length":100,"type":"TEXT"},{"customfieldid":22,"disallowupdate":false,"select":false,"casesensitive":false,"name":"Program","type":"REFERRINGPROVIDER"}],"totalcount":2}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
