---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/departments?limit=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer tlPAACyh4U2nRE1zJsNt2vYe7f1b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49994'
    body:
      encoding: UTF-8
      string: '{"totalcount":8,"departments":[{"medicationhistoryconsent":false,"timezoneoffset":-6,"ishospitaldepartment":false,"providergroupid":"1","state":"TX","portalurl":"https:\/\/27646.portal.athenahealth.com\/","city":"DALLAS","placeofservicefacility":false,"servicedepartment":true,"fax":"(855)
        975-2772","providergroupname":"HARRIS COUNTY MIH PLLC","doesnotobservedst":false,"departmentid":"4","address":"1999
        BRYAN STREET,SUITE 900","placeofservicetypeid":"10","federaltaxid":"863227390","clinicals":"ON","timezone":-6,"patientdepartmentname":"Arizona
        Complete Health","chartsharinggroupid":"1","name":"Arizona Complete Health","placeofservicetypename":"TELEHEALTH
        - PATIENTS HOME","phone":"(817) 946-6240","zip":"75201-3140","timezonename":"America\/Chicago"},{"medicationhistoryconsent":false,"timezoneoffset":-6,"ishospitaldepartment":false,"providergroupid":"1","state":"TX","portalurl":"https:\/\/27646.portal.athenahealth.com\/","city":"DALLAS","placeofservicefacility":false,"servicedepartment":true,"fax":"(855)
        975-2772","providergroupname":"HARRIS COUNTY MIH PLLC","doesnotobservedst":false,"departmentid":"5","address":"1999
        BRYAN STREET,SUITE 900","placeofservicetypeid":"10","federaltaxid":"863227390","clinicals[...]
