---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/oauth2/v1/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=athena%2Fservice%2FAthenanet.MDP.*&client_id=0oag8cvsnzNt58Vwl297&client_secret=3Q4CJrXaY_hgz-nNscFFVm02SpKOrcJS75tesqkl
    headers:
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","access_token":"VQ0qSlPrdgynUMFvAETDuEo3E2Iu","scope":"athena/service/Athenanet.MDP.*"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/open
    body:
      encoding: UTF-8
      string: departmentid=1&providerid=4&appointmentdate=01%2F20%2F2023&appointmenttime=14%3A00&appointmenttypeid=42
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer VQ0qSlPrdgynUMFvAETDuEo3E2Iu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49976'
    body:
      encoding: UTF-8
      string: '{"appointmentids":{"3693":"14:00"}}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/3693
    body:
      encoding: UTF-8
      string: patientid=4&appointmenttypeid=42&departmentid=1&ignoreschedulablepermission=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer VQ0qSlPrdgynUMFvAETDuEo3E2Iu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49975'
    body:
      encoding: UTF-8
      string: '[{"date":"01\/20\/2023","appointmentid":"3693","starttime":"14:00","departmentid":"1","appointmentstatus":"f","patientid":"4","duration":60,"referringproviderid":"","renderingproviderid":"","appointmenttypeid":"42","appointmenttype":"Standard
        Hybrid Visit","providerid":"4","chargeentrynotrequired":false,"supervisingproviderid":"","patientappointmenttypename":"Standard
        Hybrid Visit"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/3693/nativeathenatelehealthroom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer VQ0qSlPrdgynUMFvAETDuEo3E2Iu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49974'
    body:
      encoding: UTF-8
      string: '{"appointmentid":"3693","patienturl":"https:\/\/telehealth-preview.px.athena.io\/join\/xdZQCjG2As5DBBRhnyns.27646","jointoken":"xdZQCjG2As5DBBRhnyns.27646"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/3693/reschedule
    body:
      encoding: UTF-8
      string: patientid=4&newappointmentid=3694&ignoreschedulablepermission=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer VQ0qSlPrdgynUMFvAETDuEo3E2Iu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49974'
    body:
      encoding: UTF-8
      string: '[{"appointmentid":"3694","departmentid":"1","referringproviderid":"","providerid":"","supervisingproviderid":"","appointmentstatus":"f","duration":60,"patientid":"4","appointmenttypeid":"42"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
