---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/optimized-trips/v1/mapbox/driving-traffic/-118.073740,33.939410;-118.249381,34.061637;-118.279381,34.081637;-118.350489,34.034541;-118.343966,34.076496?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&geometries=geojson&overview=full&source=first&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Interval:
      - '60'
      Etag:
      - W/"8794-7slOvFUZ/z6Cdqx5pBhnEx8PHXw"
      X-Shard-Id:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Ok","waypoints":[{"distance":25.98444941117889,"name":"","location":[-118.073459,33.939412],"waypoint_index":0,"trips_index":0},{"distance":2.782760165286217,"name":"","location":[-118.249402,34.061655],"waypoint_index":1,"trips_index":0},{"distance":14.638732556265714,"name":"Micheltorena
        Street","location":[-118.279521,34.081699],"waypoint_index":2,"trips_index":0},{"distance":0.7981080503658782,"name":"","location":[-118.350487,34.034548],"waypoint_index":4,"trips_index":0},{"distance":8.676726281293547,"name":"North
        La Brea Avenue","location":[-118.34406,34.076496],"waypoint_index":3,"trips_index":0}],"trips":[{"geometry":{"coordinates":[[-118.073459,33.939412],[-118.07346,33.939483],[-118.073457,33.939758],[-118.073469,33.939948],[-118.072782,33.939955],[-118.072782,33.939839],[-118.07278,33.939065],[-118.07278,33.938956],[-118.072779,33.938908],[-118.072778,33.938522],[-118.072776,33.938009],[-118.072773,33.937246],[-118.072773,33.937063],[-118.072771,33.936738],[-118.072771,33.936544],[-118.072769,33.936083],[-118.072769,33.936071],[-118.072766,33.935338],[-118.073378,33.935332],[-118.073689,33.935329],[-118.073925,33.935325[...]
[...]
