---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/directions/v5/mapbox/driving-traffic/-118.073740,33.939410;-118.249381,34.061637;-118.279381,34.081637;-118.350489,34.034541;-118.343966,34.076496?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&alternatives=false&geometries=geojson&overview=full&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mapbox-Request-Id:
      - zN1tTYBJ1k5p5nA3y-6TWqKEyL99FQaBtgQ8nvbWHtLlP2VJF9a2mg==
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Reset:
      - '1620674929'
      X-Rate-Limit-Remaining:
      - '298'
      X-Mapbox-Routing-Engine:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"routes":[{"weight_typical":4311.513,"duration_typical":3346.348,"weight_name":"auto","weight":4261.819,"duration":3343.538,"distance":53105.754,"legs":[{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":1874.019,"duration_typical":1454.923,"weight":1834.322,"duration":1443.533,"steps":[],"distance":28000.387,"summary":"I
        5 North, CA 60"},{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":442.162,"duration_typical":333.746,"weight":430.575,"duration":324.287,"steps":[],"distance":4172.416,"summary":"US
        101, Micheltorena Street"},{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":1182.984,"duration_typical":888.65,"weight":1176.263,"duration":887.213,"steps":[],"distance":15185.924,"summary":"US
        101, I 10 West"},{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":812.348,"duration_typical":669.029,"weight":820.658,"duration":688.505,"steps":[],"distance":5747.028,"summary":"La
        Brea Avenue"}],"geometry":{"coordinates":[[-118.073458,33.939412],[-118.073455,33.93907],[-118.072969,33.939065],[-118.07278,33.939064],[-118.072779,33.938956],[-118.072779,33.938908],[-118.072778,33.938522],[-118.072776,33.938009],[-118.072773,33.937246],[-118.072772,33.937062],[-118.072771,33.936738],[-118.072771,33.936544],[-118.072769,33.936083],[-118.072769,33.936071],[-118.072766,33.935338],[-118.073378,33.935332],[-118.073689,33.935329],[-118.073925,33.935325],[-118.074225,33.935325],[-118.074688,33.935325],[-118.074834,33.93532[...]
- request:
    method: get
    uri: https://api.mapbox.com/directions/v5/mapbox/driving-traffic/-118.07374,33.93941;-118.249381,34.061637;-118.279381,34.081637;-118.350489,34.034541;-118.343966,34.076496?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&alternatives=false&geometries=geojson&overview=full&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mapbox-Request-Id:
      - TQ-IUyC_ArhRNqFYgHpBZN4ZSMstWKbVkBGx0Fegx8wxjtwsRV5JqA==
      X-Mapbox-Routing-Engine:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"routes":[{"weight_typical":5372.42,"duration_typical":4226.125,"weight_name":"auto","weight":5577.355,"duration":4414.535,"distance":47008.77,"legs":[{"via_waypoints":[],"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":2374.291,"duration_typical":1890.294,"weight":2478.374,"duration":1983.813,"steps":[],"distance":24915.398,"summary":"I
        5 North, US 101 North"},{"via_waypoints":[],"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":500.865,"duration_typical":378.563,"weight":551.603,"duration":419.982,"steps":[],"distance":4171.417,"summary":"US
        101 North, Micheltorena Street"},{"via_waypoints":[],[...]
