---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/optimized-trips/v1/mapbox/driving-traffic/-118.073740,33.939410;-118.249381,34.061637;-118.279381,34.081637;-118.350489,34.034541;-118.343966,34.076496?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&annotations=duration&geometries=geojson&overview=full&source=first&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Interval:
      - '60'
      Etag:
      - W/"a4fd-vKx8aEWVKgA+XeStRkemSE8CngM"
      X-Shard-Id:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Ok","waypoints":[{"distance":25.98444941117889,"name":"","location":[-118.073459,33.939412],"waypoint_index":0,"trips_index":0},{"distance":2.782760165286217,"name":"","location":[-118.249402,34.061655],"waypoint_index":1,"trips_index":0},{"distance":14.638732556265714,"name":"Micheltorena
        Street","location":[-118.279521,34.081699],"waypoint_index":2,"trips_index":0},{"distance":0.7981080503658782,"name":"","location":[-118.350487,34.034548],"waypoint_index":4,"trips_index":0},{"distance":8.676726281293547,"name":"North
        La Brea Avenue","location":[-118.34406,34.076496],"waypoint_index":3,"trips_index":0}],"trips":[{"geometry":{"coordinates":[[-118.073459,33.939412],[-118.073455,33.93907],[-118.073484,33.939071],[-118.074032,33.939066],[-118.074051,33.939066],[-118.074353,33.939061],[-118.074774,33.939062],[-118.07492,33.939066],[-118.075063,33.939069],[-118.075498,33.939069],[-118.075869,33.939052],[-118.076021,33.939056],[-118.076023,33.939047],[-118.076077,33.938987],[-118.076087,33.938976],[-118.076165,33.938951],[-118.07675,33.938951],[-118.077648,33.938951],[-118.077751,33.9389],[-118.077783,33.938854],[-118.077807,33.938819],[...]
- request:
    method: get
    uri: https://api.mapbox.com/optimized-trips/v1/mapbox/driving-traffic/-118.073740,33.939410;-118.249381,34.061637;-118.279381,34.081637;-118.350489,34.034541;-118.343966,34.076496?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&geometries=geojson&overview=full&source=first&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    [...]
[...]
