---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/directions/v5/mapbox/driving-traffic/-118.073740,33.939410;-118.350489,34.034541;-118.279381,34.081637;-118.343966,34.076496;-118.249381,34.061637?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&alternatives=false&geometries=geojson&overview=full&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mapbox-Request-Id:
      - _tnuGL9wyJfGSnSy_NC8SN11JhJTCUyE7zcbt4NMiCrpuMrByJdy4w==
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Reset:
      - '1620674897'
      X-Rate-Limit-Remaining:
      - '299'
      X-Mapbox-Routing-Engine:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"routes":[{"weight_typical":5606.387,"duration_typical":4450.885,"weight_name":"auto","weight":5551.65,"duration":4433.687,"distance":64834.383,"legs":[{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":1914.147,"duration_typical":1492.136,"weight":1945.514,"duration":1542.677,"steps":[],"distance":31676.74,"summary":"I
        5 North, CA 60"},{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":1255.836,"duration_typical":952.852,"weight":1218.493,"duration":926.23,"steps":[],"distance":15519.064,"summary":"I
        10 East, CA 110 North"},{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":940.361,"duration_typical":784.677,"weight":936.408,"duration":781.507,"steps":[],"distance":6884.959,"summary":"Marathon
        Street, Silver Lake Boulevard"},{"admins":[{"iso_3166_1_alpha3":"USA","iso_3166_1":"US"}],"weight_typical":1496.043,"duration_typical":1221.22,"weight":1451.235,"duration":1183.272,"steps":[],"distance":10753.618,"summary":"Beverly
        Boulevard, West 2nd Street"}],"geometry":{"coordinates":[[-118.073458,33.939412],[-118.073455,33.93907],[-118.072969,33.939065],[-118.07278,33.939064],[-118.072779,33.938956],[-118.072779,33.938908],[-118.072778,33.938522],[-118.072776,33.938009],[-118.072773,33.937246],[-118.072772,33.937062],[-118.072771,33.936738],[-118.072771,33.936544],[-118.072769,33.936083],[-118.072769,33.936071],[-118.072766,33.935338],[-118.073378,33.935332],[-118.073689,33.935329],[-118.073925,33.935325],[-118.074225,33.935325],[-118.074688,33.935325],[-118.074834,33.93532[...]
[...]
