---
http_interactions:
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/metadata/customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <GOOGLE_SERVICES_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 96.236.152.12
      Etag:
      - W/"67-C2nIm7SnG9n7ZvH74D9uB8xZapQ"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":401,"code":"unauthorized","title":"Unauthorized","source":{"parameter":"token"}}]}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
