---
http_interactions:
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/FieldProvider_M6ScEV49FZgvMJTu
    body:
      encoding: UTF-8
      string: '{"demographics":{"first_name":"Librada","last_name":"Russel","email":"stevie.steuber@littel.info"},"username":"stevie.steuber@littel.info"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code": 404, "message": "Employee not found"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":16,"items":[{"branch":null,"category":"admin","description":"System
        Administrator","id":1,"name":"admin"},{"branch":null,"category":"admin","description":"Coordinator","id":10,"name":"csc"},{"branch":null,"category":"staff","description":"Home
        Care Nurse","id":20,"name":"nurse"},{"branch":null,"category":"staff","description":"Personal
        Support Worker","id":21,"name":"psw"},{"branch":null,"category":"client","description":"Patient","id":30,"name":"patient"},{"branch":null,"category":"client","description":"Family","id":31,"name":"family"},{"branch":{"id":1000,"name":"medarriv[...]
- request:
    method: post
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees
    body:
      encoding: UTF-8
      string: '{"demographics":{"first_name":"Librada","last_name":"Russel","email":"stevie.steuber@littel.info"},"username":"stevie.steuber@littel.info","external_id":"FieldProvider_M6ScEV49FZgvMJTu","roles":[{"branch":{"id":1000,"name":"medarrive"},"category":"staff","description":"Field
        Providers","id":32,"name":"field-providers_1000"}],"status":"active"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"external_id":"FieldProvider_M6ScEV49FZgvMJTu","id":1459}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.wheniwork.com/2/users
    body:
      encoding: UTF-8
      string: '{"email":"stevie.steuber@littel.info","first_name":"Librada","last_name":"Russel","phone_number":null,"employee_code":"FieldProvider_M6ScEV49FZgvMJTu"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <GOOGLE_SERVICES_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: 7450b6f2-bf57-11ec-a7c6-9687c7f2d1e5, LoginId: 0, AccountId: 0'
      X-Timer-Database:
      - '0'
      X-Timer-Total:
      - '0.003079891204834'
    body:
      encoding: UTF-8
      string: '{"error":"User login required for this resource.","code":1000}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
