---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1812%20E%20Republican%20St%20Seattle%20WA%2098112&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1812",
                       "short_name" : "1812",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Republican Street",
                       "short_name" : "E Republican St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Miller Park",
                       "short_name" : "Miller Park",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
         [...]
