---
http_interactions:
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/34t45g45
    body:
      encoding: UTF-8
      string: '{"demographics":{"first_name":"Nova","last_name":"Batz","email":"maryjane_bode@mueller.co","address":"274
        Albert Plains","address_suite":"Suite 820","city":"Jorgeville","state":"ME","zip":"63556"},"username":"maryjane_bode@mueller.co"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"external_id":"34t45g45","id":1461}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: b7169f70-c681-11ec-8509-82cffd97466d, LoginId: 19274266, AccountId:
        3788256'
      X-Timer-Database:
      - '0.0078146457672119'
      X-Timer-Total:
      - '0.063309192657471'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":42656040,"account_id":3788256,"login_id":18900192,"timezone_id":0,"created_by":42335354,"role":1,"is_payroll":true,"is_trusted":0,"type":1,"email":"baylee@medarrive.com","first_name":"Baylee","last_name":"Mabe","phone_number":"+12763409493","employee_code":"","activated":true,"is_hidden":false,"uuid":"db6d21afe2f416f9c9fa49dc417841064897fab9","notes":"","is_private":true,"hours_preferred":0,"hours_max":40,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":false},"swaps":{"sms":false,"email":false},"schedule":{"sms":false,"email":false},"reminders":{"sms":false,"email":false},"availability":{"sms":false,"email":false},"new_employee":{"sms":false,"email":false},"attendance":{"sms":true,"email":false},"payroll":{"sms":true,"email":false},"hire":{"sms":false,"email":true},"workchat":{"alerts":true,"badge_icon":true,"in_app":true},"reporting":{"sms":false,"email":false},"shift-bidding":{"sms":false,"email":false},"workplace_alerts":{"sms":false,"email":false},"ot_alerts":{"sms":false,"email":false}},"reminder_time":2,"sleep_start":"23:00:00","sleep_end":"05:00:00","my_positions":[],"is_onboarded":false,"last_login":"Fri,
        07 Jan 2022 15:04:53 -0500","hired_on":null,"terminated_at":"","dismissed_at":"","notified_at":"Sun,
        29 Nov -001 19:03:58 -0456","invited_at":"","created_at":"Fri, 07 Jan 2022
        09:28:18 -0500","updated_at":"Wed, 23 Mar 2022 16:54:26 -0400","deleted_at":"","is_deleted":false,"is_active":true,"password":false,"country_id":0,"c2dm_auth_key":0,"migration_id":0,"affiliate":0,"infotips":"","timezone_name":"America\/New_York","avatar":{"url":"https:\/\/avatars.wheniwork-production.com\/b11d0f0a1b1790f7316f470ec3177928e52cedeb\/%s","size":"%s"},"positions":[],"locations":[5203341],"position_rates":[],"position_quality":[],"sort":{"5203341":0}},{"id":42658906,"account_id":3788256,"login_id":19045470,"timezone_id":11,"created_by":42656040,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"baymabe@gmail.com","first_name":"Baylee
        Texas","last_name":"Mabe","phone_number":"","employee_code":"8055","activated":true,"is_hidden":false,"uuid":"4569110c6694a496bb4840512ccc9e7dd6ebbbca","notes":"","is_private":true,"hours_preferred":0,"hours_max":0,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":f[...]
- request:
    method: put
    uri: https://api.wheniwork.com/2/users/43272790
    body:
      encoding: UTF-8
      string: '{"email":"maryjane_bode@mueller.co","first_name":"Nova","last_name":"Batz","phone_number":null,"employee_code":"34t45g45"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - rw
      X-State:
      - 'RequestId: b75673d4-c681-11ec-a958-32608acaed2b, LoginId: 19274266, AccountId:
        3788256'
      X-Timer-Database:
      - '0.025864839553833'
      X-Timer-Total:
      - '0.10922193527222'
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"id":43272790,"account_id":3788256,"login_id":0,"timezone_id":0,"created_by":42672280,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"maryjane_bode@mueller.co","first_name":"Nova","last_name":"Batz","phone_number":"","employee_code":"34t45g45","activated":true,"is_hidden":false,"uuid":"729a53dbd523318c337170adcd97f5289d6e8826","notes":"","is_private":true,"hours_preferred":0,"hours_max":40,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":true},"swaps":{"sms":false,"[...]
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/FieldProvider_zf7SLCYkuUpGn2FC
    body:
      encoding: UTF-8
      string: '{"demographics":{"first_name":"Nova","last_name":"Rohan","email":"kristin@damore.info","address":"50243
        Cristopher Hills","address_suite":"Apt. 389","city":"Lake Ivoryhaven","state":"GA","zip":"72670-4831"},"username":"kristin@damore.info"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code": 404, "message": "Employee not found"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
