---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=100&end_at=2022-01-13T23:59:59Z&page=1&start_at=2022-01-12T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":36,"items":[{"alayacare_client_id":2269,"alayacare_employee_id":null,"alayacare_service_id":775,"alayacare_visit_id":904,"cancel_code":null,"cancelled":false,"client_id":"027056135","employee_id":null,"end_at":"2022-01-12T12:30:00+00:00","notes":[],"service_code_id":3,"service_id":"","start_at":"2022-01-12T11:30:00+00:00","status":"vacant","tags":[],"visit_id":null},{"alayacare_client_id":1874,"alayacare_employee_id":null,"alayacare_service_id":592,"alayacare_visit_id":893,"cancel_code":null,"cancelled":false,"client_id":"7897899","employee_id":null,"end_at":"2022-01-12T13:55:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2022-01-12T12:25:00+00:00","status":"vacant","tags":[],"visit_id":null},{"alayacare_client_id":1189,"alayacare_employee_id":null,"alayacare_service_id":591,"alayacare_visit_id":892,"cancel_code":null,"cancelled"[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/by_id/31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002929","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"3915
        43RD AVE APT E","address_suite":" ","birthday":"1971-11-18","city":"SACRAMENTO","first_name":"First31","gender":"F","last_name":"Last31","location":{"lat":38.51424,"lon":-121.46293,"zip":"95824"},"phone_main":"+12763409493","phone_other":"+19164106624","phone_personal":"+12763409493","state":"CA","uid":"31","zip":"95824"},"external_id":"31","groups":[],"id":1120,"language":null,"profile_id":332,"status":"active","tags":[],"timezone":"America/Los_Angeles"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/by_id/32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002935","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"1521
        Sherwood Forest St","address_suite":"Apt 2202","birthday":"1961-12-03","city":"Houston
        ","first_name":"First32","gender":"M","last_name":"Last32","location":{"lat":29.79524,"lon":-95.5804,"zip":"77043"},"phone_main":"+12763409493","phone_other":"","phone_personal":"+12763409493","state":"TX","uid":"32","zip":"77043"},"external_id":"32","groups":[{"id":1030,"name":"Molina"}],"id":1121,"language":null,"profile_id":333,"status":"active","tags":[],"timezone":"America/Chicago"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002929","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"3915
        43RD AVE APT E","address_suite":" ","birthday":"1971-11-18","city":"SACRAMENTO","first_name":"First31","gender":"F","last_name":"Last31","location":{"lat":38.51424,"lon":-121.46293,"zip":"95824"},"phone_main":"+12763409493","phone_other":"+19164106624","phone_personal":"+12763409493","state":"CA","uid":"31","zip":"95824"},"external_id":"31","groups":[],"id":1120,"language":null,"profile_id":332,"status":"active","tags":[],"timezone":"America/Los_Angeles"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1054
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001330","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"15135
        North Fwy","city":"Houston","company":"","country":"US","first_name":"Molina","last_name":"Patient","location":{"lat":29.98892,"lon":-95.42545,"zip":"77090"},"phone_main":"","state":"TX","zip":"77090"},"external_id":null,"groups":[],"id":1054,"language":"en","profile_id":141,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/8055
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000008055","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"901
        Bagby St","city":"Houston","country":"US","email":"baymabe@gmail.com","first_name":"Baylee","last_name":"Texas","location":{"lat":29.76018,"lon":-95.36935,"zip":"77002"},"phone_main":"2763409493","state":"TX","uid":"8055","zip":"77002"},"departments":[],"designation":null,"employment_type":null,"external_id":"8055","groups":[{"id":1030,"name":"Molina"}],"id":176,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":2093,"roles":[{"id":32,"name":"Field
        Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000000019","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"country":"US","email":"bo@medarrive.com","first_name":"Bo","last_name":"Cross","location":null,"uid":"17"},"departments":[{"id":1001,"name":"Amphibious"}],"designation":null,"employment_type":null,"external_id":"17","groups":[{"id":1178,"name":"Bright
        Healthcare"}],"id":104,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":7,"roles":[{"id":1,"name":"System
        Administrator"},{"id":41,"name":"MedArrive Operations Manager"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
