---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=655%20W%20Church%20St%20Orlando%20FL%2032805&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Orlando, FL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "655",
                       "short_name" : "655",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Church Street",
                       "short_name" : "W Church St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Parramore",
                       "short_name" : "Parramore",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                     [...]
