---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4057%20MAYBERRY%20LN%20CHARLOTTE%20NC%2028212&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Charlotte, NC
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "4057",
                       "short_name" : "4057",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Mayberry Lane",
                       "short_name" : "Mayberry Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Eastland - Wilora Lake",
                       "short_name" : "Eastland - Wilora Lake",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
[...]
