---
http_interactions:
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/customers/searches/6254958e93a82b001a157da1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <KUSTOMER_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 23.121.94.61
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      Etag:
      - W/"505-x3VHBJepdn0AkTtYMnj3odJujuQ"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"search","id":"6254958e93a82b001a157da1","attributes":{"name":"a
        few","data":{"and":[{"customer_created_at":{"lt":"2021-08-21T15:00:00.000Z"}}],"or":[],"fields":[{"key":"activity"},{"key":"customer"},{"key":"lastMessage"},{"key":"status"},{"key":"updatedAt"}],"queryContext":"customer","sort":[{"customer_activity_at":"asc"}],"timeZone":"America/New_York"},"dataHash":"06d756539c78017d3e59d3077c5b20cd","icon":"account-search","badgeColor":null,"showBadge":false,"position":1649710478546,"createdAt":"2022-04-11T20:54:38.546Z","modifiedAt":"2022-04-11T20:55:32.549Z","updatedAt":"2022-04-11T20:55:32.549Z","defaultVisibility":"all","teamVisibilities":[],"userVisibilities":[{"id":"611e8711e81cf3001a147a3b","visibility":"all"}],"private":false,"accessTeams":[],"accessUsers":["611e8711e81cf3001a147a3b"],"cacheable":true},"relationships":{"org":{"links":{"self":"/v1/orgs/611be9d451ec6b63a1011d3c"},"data":{"type":"org","id":"611be9d451ec6b63a1011d3c"}},"createdBy":{"links":{"self":"/v1/users/611e8711e81cf3001a147a3b"},"data":{"type":"user","id":"611e8711e81cf3001a147a3b"}},"modifiedBy":{"links":{"self":"/v1/users/611e8711e81cf3001a147a3b"},"data":{"type":"user","id":"611e8711e81cf3001a147a3b"}}},"links":{"self":"/v1/customer/searches/6254958e93a82b001a157da1"}}}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.kustomerapp.com/v1/customers/search?page=1&pageSize=500
    body:
      encoding: UTF-8
      string: '{"and":[{"customer_created_at":{"lt":"2021-08-21T15:00:00.000Z"}}],"or":[],"fields":[{"key":"activity"},{"key":"customer"},{"key":"lastMessage"},{"key":"status"},{"key":"updatedAt"}],"queryContext":"customer","sort":[{"customer_updated_at":"asc"}],"timeZone":"America/New_York"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <KUSTOMER_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Request-Ip:
      - 23.121.94.61
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
      Etag:
      - W/"5317-1TA+/hIKQzp0mxXmCG5WqjxpS+I"
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"pageSize":500,"page":1,"total":12,"totalPages":1,"aggregations":{},"timed_out":false,"took":3},"links":{"self":"/v1/customers/search?page=1&pageSize=500","first":"/v1/customers/search?page=1&pageSize=500","prev":null,"next":null,"last":"/v1/customers/search?page=1&pageSize=500"},"data":[{"type":"customer","id":"611fcb6c43d4c677f524a11d","attributes":{"name":"lja_import
        eleven","displayName":"lja_import eleven","displayColor":"purple","displayIcon":"sun","externalIds":[],"sharedExternalIds":[],"emails":[],"sharedEmails":[],"phones":[{"type":"home","verified":false,"phone":"+11111111123"}],"sharedPhones":[],"whatsapps":[],"facebookIds":[],"instagramIds":[],"socials":[],"sharedSocials":[],"urls":[],"locations":[],"activeUsers":[],"watchers":[],"recentLocation":{"updatedAt":"2021-08-20T15:34:04.684Z"},"createdAt":"2021-08-20T15:34:04.682Z","updatedAt":"2021-08-20T15:34:04.682Z","modifiedAt":"2021-08-20T15:34:04.682Z","lastActivityAt":"2021-08-20T15:34:04.682Z","deleted":false,"lastConversation":{"channels":[],"tags":[]},"conversationCounts":{"done":0,"open":0,"snoozed":0,"all":0},"preview":{},"tags":[],"progressiveStatus":null,"verified":true,"rev":1,"recentItems":[],"satisfactionLevel":{"firstSatisfaction":{"sentByTeams":[]},"lastSatisfaction":{"sentByTeams":[]}},"roleGroupVersions":[],"accessOverride":[],"firstName":"lja_import","lastName":"eleven"},"relationships":{"messages":{"links":{"self":"/v1/customers/611fcb6c43d4c677f524a11d/messages"}},"createdBy":{"links":{"self":"/v1/users/611fc79badd31700198bb43e"},"data":{"type":"user","id":"611fc79badd31700198bb43e"}},"modifiedBy":{"links":{"self":"/v1/users/611fc79badd31700198bb43e"},"data":{"type":"user","id":"611fc79badd31700198bb43e"}},"org":{"data":{"type":"org","id":"611be9d451ec6b63a1011d3c"},"links":{"self":"/v1/orgs/611be9d451ec6b63a1011d3c"}}},"links":{"self":"/v1/customers/611fcb6c43d4c677f524a11d"}},{"type":"customer","id":"6120195543d4c634d32d59dc","attributes":{"name":"lja_import
        eleven","displayName":"lja_import eleven","displayColor":"yellow","displayIcon":"bus","externalIds":[],"sharedExternalIds":[],"emails":[],"sharedEmails":[],"phones":[{"type":"home","verified":false,"phone":"+11111111188"}],"sharedPhones":[],"whatsapps":[],"facebookIds":[],"instagramIds":[],"socials":[],"sharedSocials":[],"urls":[],"locations":[{"type":"home","address":"22
        Fairview Ave","countryName":"United States","cityName":"Pittsburgh","zipCode":"15229"}],"activeUsers":[],"watchers":[],"recentLocation":{"updatedAt":"2021-08-20T21:06:29.351Z"},"createdAt":"2021-08-20T21:06:29.350Z","updatedAt":"2021-08-20T21:06:29.350Z","modifiedAt":"2021-08-20T21:06:29.350Z","lastActivityAt":"2021-08-20T21:06:29.350Z","deleted":false,"lastConversation":{"channels":[],"tags":[]},"conversationCounts":{"done":0,"open":0,"snoozed":0,"all":0},"preview":{},"tags":[],"progressiveStatus":null,"verified":true,"rev":1,"recentItems":[],"satisfactionLevel":{"firstS[...]
