---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/optimized-trips/v1/mapbox/driving-traffic/-118.249381,34.061637;-118.279381,34.081637;-118.350489,34.034541;-118.343966,34.076496?access_token=pk.eyJ1IjoiYmVyZ3NvcmUiLCJhIjoiY2tsZ3h4cThtMTVhcjJ2bXVwdDhyc2JhNyJ9.EEiwRf9O-r0FPGr5Jes2BA&annotations=duration&geometries=geojson&overview=full&source=first&steps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Interval:
      - '60'
      Etag:
      - W/"548f-Xt8Zoj+YmlELq30NBXM2BhphQqU"
      X-Shard-Id:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Ok","waypoints":[{"distance":2.782760165286217,"name":"","location":[-118.249402,34.061655],"waypoint_index":0,"trips_index":0},{"distance":14.638732556265714,"name":"Micheltorena
        Street","location":[-118.279521,34.081699],"waypoint_index":1,"trips_index":0},{"distance":0.7981080503658782,"name":"","location":[-118.350487,34.034548],"waypoint_index":3,"trips_index":0},{"distance":8.676726281293547,"name":"North
        La Brea Avenue","location":[-118.34406,34.076496],"waypoint_index":2,"trips_index":0}],"trips":[{"geometry":{"coordinates":[[-118.249402,34.061655],[-118.249337,34.061708],[-118.249224,34.061807],[-118.249125,34.061912],[-118.249046,34.06202],[-118.248988,34.06213],[-118.248939,34.062252],[-118.248904,34.062376],[-118.248878,34.062513],[-118.248861,34.062649],[-118.24885,34.062787],[-118.248844,34.062923],[-118.248842,34.063056],[-118.24885,34.063164],[-118.248862,34.063282],[-118.248905,34.063417],[-118.248949,34.063509],[-118.24903,34.06362],[-118.249136,34.063724],[-118.249252,34.063813],[-118.249388,34.063898],[[...]
