---
http_interactions:
- request:
    method: post
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients
    body:
      encoding: UTF-8
      string: '{"demographics":{"birthday":"1964-02-21","first_name":"Natisha","gender":null,"last_name":"Bogisich","phone_main":"+13395973556","phone_other":"+13742138689","phone_personal":"+13395973556"},"external_id":"26","branch_id":2001,"profile_id":12345,"language":"Hausa","timezone":"America/Toronto"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message": {"_schema": ["Fields `demographics` and `profile_id` can''t
        be provided simultaneously"]}, "code": 400}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
