---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts?end=2021-11-01T23:59:59Z&start=2021-11-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: 25b3f690-a998-11ed-85e7-96a8fb6585e9, LoginId: 19274266, AccountId:
        3788256'
      X-Timer-Database:
      - '0.04980731010437'
      X-Timer-Total:
      - '0.062019824981689'
    body:
      encoding: ASCII-8BIT
      string: '{"start":"Sun, 31 Oct 2021 20:00:00 -0400","end":"Mon, 01 Nov 2021
        19:59:59 -0400","shifts":[{"id":2897018599,"account_id":3788256,"user_id":43521995,"location_id":5204524,"position_id":0,"site_id":0,"start_time":"Mon,
        01 Nov 2021 09:00:00 -0400","end_time":"Mon, 01 Nov 2021 19:00:00 -0400","break_time":0,"color":"cccccc","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Mon,
        15 Aug 2022 21:33:09 -0400","notified_at":"Mon, 15 Aug 2022 21:33:09 -0400","instances":1,"created_at":"Mon,
        15 Aug 2022 21:32:58 -0400","updated_at":"Mon, 15 Aug 2022 21:33:09 -0400","acknowledged":0,"acknowledged_at":null,"creator_id":42659902,"is_open":false,"actionable":false,"block_id":0,"requires_openshift_approval":false,"openshift_approval_request_id":0},{"id":2897018610,"account_id":3788256,"user_id":43108827,"location_id":5204524,"position_id":0,"site_id":0,"start_time":"Mon,
        01 Nov 2021 09:00:00 -0400","end_time":"Mon, 01 Nov 2021 19:00:00 -0400","break_time":0,"color":"cccccc","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Mon,
        15 Aug 2022 21:33:09 -0400","notified_at":"Mon, 15 Aug 2022 21:33:09 -0400","instances":1,"created_at":"Mon,
        15 Aug 2022 21:33:01 -0400","updated_at":"Mon, 15 Aug 2022 21:33:09 -0400","acknowledged":0,"acknowledged_at":null,"creator_id":42659902,"is_open":false,"actionable":false,"block_id":0,"requires_openshift_approval":false,"openshift_approval_request_id":0}],"users":[{"id":43108827,"account_id":3788256,"login_id":20410975,"timezone_id":11,"created_by":42656040,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"baymabe@gmail.com","first_name":"Houston
        TX","last_name":"FP","phone_number":"+12763409493","employee_code":"45540","activated":true,"is_hidden":false,"uuid":"7597c34e92d3f7c06443f1b20e741e230fda6178","notes":"","is_private":true,"hours_preferred":0,"hours_max":0,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":false},"swaps":{"sms":false,"email":false},"schedule":{"sms":false,"email":false},"reminders":{"sms":false,"email":false},"availability":{"sms":false,"email":false},"new_employee":{"sms":false,"email":false},"attendance":{"sms":true,"email":false},"payroll":{"sms":true,"email":false},"hire":{"sms":false,"email":false},"workchat":{"alerts":true,"badge_icon":true,"in_app":true,"email":false},"reporting":{"sms":false,"email":false},"shift-bidding":{"sms":true,"email":false},"workplace_alerts":{"sms":true,"email":false},"absences":{"sms":true,"email":false},"ot_alerts":{"sms":true,"email":false}},"reminder_time":2,"sleep_start":"23:00:00","sleep_end":"05:00:00","my_positions":[],"is_onboarded":false,"last_login":"Fri,
        16 Sep 2022 13:51:37 -0400","hired_on":null,"terminated_at":"","dismissed_at":null,"notified_at":"Sun,
        29 Nov -001 19:03:58 -0456","invited_at":"Fri, 16 Sep 2022 13:51:22 -0400","created_at":"Wed,
        23 Mar 2022 16:35:28 -0400","updated_at":"Sun, 05 Feb 2023 21:42:28 -0500","deleted_at":"","is_deleted":false,"delete_reason":"","avatar_key":"","is_active":true,"password":false,"country_id":0,"c2dm_auth_key":0,"migration_id":0,"affiliate":0,"infotips":"","timezone_name":"America\/Chicago","avatar":{"url":"https:\/\/platform.api.wheniwork.com\/avatar\/115fff66542d23edb0cf381ab4629b197d0f3d95\/%s","size":"%s"},"positions":[10610616],"locations":[5203341,5204524,5204802,5293510,5293511,5306500,5365965,5366454,5368722,5396468],"position_rates":{"10610616":0},"position_quality":{"10610616":3},"sort":{"5203341":0,"5204524":0,"5204802":0,"5293510":0,"5293511":0,"5306500":0,"5365965":0,"5366454":0,"5368722":0,"5396468":0}},{"id":43521995,"account_id":3788256,"login_id":0,"timezone_id":11,"created_by":42672280,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"","first_name":"Dallas","last_name":"FP","phone_number":"","employee_code":"FieldProvider_NKVMBzw5FQuHzhc5","activated":true,"is_hidden":false,"uuid":"6667d3a5dc92407e8d7d3c67920437129c0b7466","notes":"","is_private":true,"hours[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/FieldProvider_NKVMBzw5FQuHzhc5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000049673","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"3105
        Point O Woods","city":"Austin","country":"US","first_name":"Dallas","last_name":"FP","location":{"lat":30.27615,"lon":-97.85631,"zip":"78735"},"state":"TX","uid":"FieldProvider_NKVMBzw5FQuHzhc5","zip":"78735"},"departments":[],"designation":null,"employment_type":null,"external_id":"FieldProvider_NKVMBzw5FQuHzhc5","groups":[],"id":1469,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":22007,"roles":[{"id":32,"name":"Field
        Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":"FieldProvider_NKVMBzw5FQuHzhc5"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/45540
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000045540","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"800
        Town and Country Blvd","city":"Houston","country":"US","email":"houstontxfp@medarrive.com","first_name":"Houston
        TX","last_name":"FP","location":{"lat":29.77985,"lon":-95.56049,"zip":"77024"},"state":"TX","uid":"45540","zip":"77024"},"departments":[],"designation":null,"employment_type":null,"external_id":"45540","groups":[{"id":1030,"name":"Molina
        Healthcare of Texas"}],"id":1452,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":20412,"roles":[{"id":32,"name":"Field
        Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/Chicago","username":"houstontxfp@medarrive.com"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
