---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=2&end_at=2021-11-02T23:59:59Z&page=1&start_at=2021-11-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":20,"items":[{"alayacare_client_id":1054,"alayacare_employee_id":116,"alayacare_service_id":53,"alayacare_visit_id":392,"cancel_code":null,"cancelled":false,"client_id":null,"employee_id":null,"end_at":"2021-11-01T22:00:00+00:00","notes":[],"service_code_id":9,"service_id":"","start_at":"2021-11-01T21:00:00+00:00","status":"completed","tags":[],"visit_id":null},{"alayacare_client_id":1054,"alayacare_employee_id":133,"alayacare_service_id":53,"alayacare_visit_id":394,"cancel_code":null,"cancelled":false,"client_id":null,"employee_id":"9233","end_at":"2021-11-01T22:10:00+00:00","notes":[],"service_code_id":9,"service_id":"","start_at":"2021-11-01T21:10:00+00:00","status":"missed","tags":[],"visit_id":null}],"items_per_page":2,"page":1,"total_pages":10}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/by_id/3645624t56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001210","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"3818
        Eastern Ave N","city":"Seattle","country":"US","fcc_region":"<GOOGLE_SERVICES_API_KEY>_REGION","first_name":"API","last_name":"Works","location":{"lat":47.65373,"lon":-122.32868,"zip":null},"phone_main":"+17345467319","phone_personal":"+17345467319","state":"WA","uid":"3645624t56"},"external_id":"3645624t56","groups":[{"id":1032,"name":"Bright
        Health"}],"id":1047,"language":"hi","profile_id":129,"status":"active","tags":[],"timezone":"America/Los_Angeles"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1054
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001330","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"15135
        North Fwy","city":"Houston","company":"","country":"US","first_name":"Molina","last_name":"Patient","location":{"lat":29.98892,"lon":-95.42545,"zip":"77090"},"phone_main":"","state":"TX","zip":"77090"},"external_id":null,"groups":[],"id":1054,"language":"en","profile_id":141,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/9233
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001021","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"country":"US","email":"kevin@medarrive.com","first_name":"Kevin","last_name":"Harris","location":null,"uid":"9233"},"departments":[],"designation":null,"employment_type":null,"external_id":"9233","groups":[{"id":1030,"name":"Molina"}],"id":133,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":107,"roles":[{"id":41,"name":"MedArrive
        Operations Manager"},{"id":32,"name":"Field Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1047
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001210","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"3818
        Eastern Ave N","birthday":"1974-01-23","city":"Seattle","country":"US","fcc_region":"<GOOGLE_SERVICES_API_KEY>_REGION","first_name":"Rubi","last_name":"Bogan","location":{"lat":47.65373,"lon":-122.32868,"zip":null},"phone_main":"+19334567019","phone_other":"1-613-392-5434
        x18104","phone_personal":"+19334567019","state":"WA","uid":"3645624t56"},"external_id":"3645624t56","groups":[{"id":1032,"name":"Bright
        Health"}],"id":1047,"language":"other","profile_id":129,"status":"active","tags":[],"timezone":"America/Los_Angeles"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1077
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002251","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"85
        5th Ave, 8th FL","city":"New York","company":"","country":"US","first_name":"Bright","last_name":"Patient","location":{"lat":40.73735,"lon":-73.99243,"zip":"10003"},"phone_main":"","state":"NY","zip":"10003"},"external_id":null,"groups":[{"id":1032,"name":"Bright
        Health"}],"id":1077,"language":"en","profile_id":236,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
