---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts?end=2021-11-18&start=2021-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <GOOGLE_SERVICES_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: 0fed11b0-e5ae-11ec-aeaa-629cff1c96e0, LoginId: 0, AccountId: 0'
      X-Timer-Database:
      - '0'
      X-Timer-Total:
      - '0.0037369728088379'
    body:
      encoding: UTF-8
      string: '{"error":"User login required for this resource.","code":1000}'
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?count=100&end_at=2021-11-18T23:59:59Z&page=1&start_at=2021-11-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":184,"items":[{"alayacare_client_id":1054,"alayacare_employee_id":116,"alayacare_service_id":53,"alayacare_visit_id":392,"cancel_code":null,"cancelled":false,"client_id":null,"employee_id":null,"end_at":"2021-11-01T22:00:00+00:00","notes":[],"service_code_id":9,"service_id":"","start_at":"2021-11-01T21:00:00+00:00","status":"completed","tags":[],"visit_id":null},{"alayacare_client_id":1054,"alayacare_employee_id":133,"alayacare_service_id":53,"alayacare_visit_id":394,"cancel_code":null,"cancelled":false,"client_id":null,"employee_id":"9233","end_at":"2021-11-01T22:10:00+00:00","notes":[],"service_code_id":9,"service_id":"","start_at":"2021-11-01T21:10:00+00:00","status":"missed","tags":[],"visit_id":null},{"alayacare_client_id":1047,"alayacare_employee_id":137,"alayacare_service_id":44,"alayacare_visit_id":645,"cancel_code":{"code":"Patient
        Reported COVID Exposure","description":"Patient cancelled because of a possible
        case of COVID or COVID exposure, and should be called later for a reschedule","id":6},"cancelled":true,"client_id":"3645624t56","employee_id":"1227","end_at":"2021-11-01T23:30:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2021-11-01T22:00:00+00:00","status":"cancelled","tags":[],"visit_id":null},{"alayacare_client_id":1019,"alayacare_employee_id":146,"alayacare_service_id":11,"alayacare_visit_id":396,"cancel_code":null,"cancelled":false,"client_id":"1234","employee_id":null,"end_at":"2021-11-01T23:55:00+00:00","notes":[],"service_code_id":3,"service_id":[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1054
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001330","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"15135
        North Fwy","city":"Houston","company":"","country":"US","first_name":"Molina","last_name":"Patient","location":{"lat":29.98892,"lon":-95.42545,"zip":"77090"},"phone_main":"","state":"TX","zip":"77090"},"external_id":null,"groups":[],"id":1054,"language":"en","profile_id":141,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1077
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002251","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"85
        5th Ave, 8th FL","city":"New York","company":"","country":"US","first_name":"Bright","last_name":"Patient","location":{"lat":40.73735,"lon":-73.99243,"zip":"10003"},"phone_main":"","state":"NY","zip":"10003"},"external_id":null,"groups":[{"id":1032,"name":"Bright
        Health"}],"id":1077,"language":"en","profile_id":236,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000000084","branch_id":1000,"care_team":[],"contacts":[{"ac_id":"AC000000088","contact_type":"Family","demographics":{"contact_type":"Family","country":"US","first_name":"Nick","last_name":"Cannon","phone_main":"9999999999","relationship":"Ex-Husband"},"external_id":null,"id":24,"language":null,"relationship":"Ex-Husband","status":"enabled"}],"cost_centre":null,"demographics":{"address":"1125
        Morris Ave","birthday":"1977-02-16","city":"The Bronx","company":"","country":"US","email":"mariah@carey.com","first_name":"Mariah","gender":"F","have_you_been_having_any_shortness_of_breath":"yes","have_you_noticed_any_weight_gain_since_your_discharge":"yes","how__many_times_per_day_do_you_have_shortness_of_breath":"3-4
        times","how_far_can_you_walk_before_becoming_short_of_breath":"300 Miles","how_much_weight_have_you_gained_since_your_discharge":"10lbs","last_name":"Carey","location":{"lat":40.83131,"lon":-73.91543,"zip":"10456"},"phone_main":"4255168980","phone_other":"111-222-3333","state":"ME","zip":"10456"},"external_id":null,"groups":[{"id":1031,"name":"MPG"},{"id":3329,"name":"Centene
        - Health Net"}],"id":1005,"language":"en","profile_id":23,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1113
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002887","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"821
        NW 40TH AVE","birthday":"1954-07-04","city":"MIAMI","first_name":"First24","gender":"F","last_name":"Last24","location":{"lat":25.78019,"lon":-80.26165,"zip":"33126"},"phone_main":"+12763409493","phone_personal":"+12763409493","state":"FL","uid":"24","zip":"33126"},"external_id":"24","groups":[{"id":1030,"name":"Molina"}],"id":1113,"language":"en","profile_id":325,"status":"active","tags":[],"timezone":"America/New_York"}

'
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/patients/clients/1106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000002845","branch_id":1000,"care_team":[],"contacts":[],"cost_centre":null,"demographics":{"address":"6601
        MEMORIAL DR","address_suite":"APT 5","birthday":"1979-11-22","city":"TEXAS
        CITY","first_name":"First17","gender":"F","last_name":"Last17","location":{"lat":29.39138,"lon":-94.98535,"zip":"77591"},"phone_main":"+12763409493","phone_personal":"+12763409493","state":"TX","uid":"17","zip":"77591"},"external_id":"17","groups":[{"id":1030,"name":"Molina"}],"id":1106,"language":"en","profile_id":318,"status":"active","tags":[],"timezone":"America/Chicago"}

'
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.659569,-73.933783%7C40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [
              "585 Schenectady Ave, Brooklyn, NY 11203, USA",
              "Parking lot, 8920 Atlantic Ave, Queens, NY 11416, USA",
              "Parking lot, 8920 Atlantic Ave, Queens, NY 11416, USA",
              "585 Schenectady Ave, Brooklyn, NY 11203, USA"
           ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "18.6 km",
                          "value" : 18572
                       },
                       "duration" : {
                          "text" : "40 mins",
                          "value" : 2387
                       },
                       "status" : "OK"
                    }
                 ]
              },
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "17.4 km",
                          "value" : 17433
                       },
                       "duration" : {
                          "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.659569,-73.933783&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.659569,-73.933783%7C40.6860072,-73.851524%7C40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    bo[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.659569,-73.933783&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    b[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.659569,-73.933783%7C40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-G[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.659569,-73.933783%7C40.659569,-73.933783&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-G[...]
