---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts?end=2021-11-01&start=2021-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: 41364a94-5df4-11ec-9b0a-066b7291ef4e, LoginId: 19046704, AccountId:
        3772069'
      X-Timer-Database:
      - '0.012954950332642'
      X-Timer-Total:
      - '0.06237006187439'
    body:
      encoding: ASCII-8BIT
      string: '{"start":"Mon, 01 Nov 2021 00:00:00 -0400","end":"Tue, 02 Nov 2021
        00:00:00 -0400","shifts":[{"id":2718733625,"account_id":3772069,"user_id":42335354,"location_id":5176127,"position_id":10559054,"site_id":0,"start_time":"Mon,
        01 Nov 2021 09:30:00 -0400","end_time":"Mon, 01 Nov 2021 20:00:00 -0400","break_time":0,"color":"a6a611","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Thu,
        18 Nov 2021 16:27:59 -0500","notified_at":"Thu, 18 Nov 2021 16:27:59 -0500","instances":1,"created_at":"Thu,
        18 Nov 2021 16:06:08 -0500","updated_at":"Thu, 18 Nov 2021 16:27:59 -0500","acknowledged":0,"acknowledged_at":null,"creator_id":42337038,"is_open":false,"actionable":false,"block_id":0,"requires_openshift_approval":false,"openshift_approval_request_id":0}],"users":[{"id":42335354,"account_id":3772069,"login_id":19045470,"timezone_id":0,"created_by":0,"role":1,"is_payroll":true,"is_trusted":0,"type":1,"email":"baymabe@gmail.com","first_name":"Baylee","last_name":"Mabe","phone_number":"+12763409493","employee_code":"15","activated":true,"is_hidden":false,"uuid":"43e49d45d10f8ce0377ea556f1599adac09ac1e1","notes":"","is_private":true,"hours_preferred":0,"hours_max":40,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":true},"swaps":{"sms":false,"email":true},"schedule":{"sms":false,"email":true},"reminders":{"sms":false,"email":true},"availability":{"sms":false,"email":true},"new_employee":{"sms":false,"email":true},"attendance":{"sms":true,"email":false},"payroll":{"sms":true,"email":false},"hire":{"sms":false,"email":true},"workchat":{"alerts":true,"badge_icon":true,"in_app":true},"reporting":{"sms":false,"email":true},"shift-bidding":{"sms":false,"email":false},"workplace_alerts":{"sms":true,"email":true},"ot_alerts":{"sms":true,"email":true}},"reminder_time":2,"sleep_start":"23:00:00","sleep_end":"05:00:00","my_positions":[],"is_onboarded":false,"last_login":"Thu,
        11 Nov 2021 09:56:43 -0500","hired_on":null,"terminated_at":"","dismissed_at":"","notified_at":"Wed,
        17 Nov 2021 13:09:31 -0500","invited_at":"","created_at":"Thu, 11 Nov 2021
        09:56:39 -0500","updated_at":"Fri, 03 Dec 2021 16:52:23 -0500","deleted_at":"","is_deleted":false,"is_active":true,"password":false,"country_id":0,"c2dm_auth_key":0,"migration_id":0,"affiliate":0,"infotips":"","timezone_name":"America\/New_York","avatar":{"url":"https:\/\/avatars.wheniwork-production.com\/1c0729d7a1af8a06ff862a16a56f105e20eaaf33\/%s","size":"%s"},"positions":[],"locations":[5176127],"position_rates":[],"position_quality":[],"sort":{"5176127":0}}],"locations":[{"id":5176127,"account_id":3772069,"is_default":0,"name":"Bright
        Health- Charlotte","sort":0,"max_hours":0,"address":"","latitude":0,"longitude":0,"place_id":0,"place_confirmed":true,"ip_address":"","created_at":"Thu,
        11 Nov 2021 09:56:39 -0500","updated_at":"Wed, 01 Dec 2021 09:50:06 -0500","is_deleted":false,"deleted_at":"","updated_by":"42335354","coordinates":null,"place":null}],"positions":[{"id":10559054,"account_id":3772069,"name":"Paramedic","color":"8da6d9","sort":0,"created_at":"Thu,
        11 Nov 2021 09:57:36 -0500","updated_at":"Thu, 11 Nov 2021 10:08:55 -0500","is_deleted":false,"updated_by":"42335354"}]}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000000013","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"1301
        Hemlock","city":"Charlotte","country":"US","email":"baylee@medarrive.com","first_name":"Baylee","last_name":"Mabe","location":{"lat":35.19853,"lon":-80.84791,"zip":"28203"},"state":"NC","uid":"15","zip":"28203"},"departments":[],"designation":null,"employment_type":null,"external_id":"15","groups":[{"id":1033,"name":"FCC"}],"id":101,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":4,"roles":[{"id":1,"name":"System
        Administrator"},{"id":10,"name":"Coordinator"},{"id":33,"name":"Support Access"},{"id":34,"name":"Clinical
        Access"},{"id":35,"name":"Field Dispatchers"},{"id":20,"name":"Home Care Nurse"},{"id":21,"name":"Personal
        Support Worker"},{"id":32,"name":"Field Providers"}],"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts?end=2021-11-01T23:59:59Z&start=2021-11-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: 04e42d4a-1d07-11ed[...]
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/FieldProvider_NKVMBzw5FQuHzhc5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000049673","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"400
        N Ervay St","city":"Dallas","first_name":"Dallas","last_name":"FP","location":{"lat":32.78385,"lon":-96.79827,"zip":"75201"},"state":"TX","uid":"FieldProvider_NKVMBzw5FQuHzhc5","zip":"75201"},"departments":[],"designation":null,"employment_type":null,"external_id":"FieldProvider_NKVMBzw5FQuHzhc5","groups":[],"id":1469,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":22007,"roles":[{"id":32,"name":"Field
        Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/New_York","username":"FieldProvider_NKVMBzw5FQuHzhc5"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/45540
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000045540","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"address":"800
        Town and Country Blvd, ","city":"Houston, ","country":"US","first_name":"Houston
        TX","last_name":"FP","location":{"lat":29.77985,"lon":-95.56049,"zip":"77024"},"state":"TX
        77024","uid":"45540","zip":"77024"},"departments":[],"designation":null,"employment_type":null,"external_id":"45540","groups":[{"id":1030,"name":"Molina"}],"id":1452,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":20412,"roles":[{"id":32,"name":"Field
        Providers"}],"sin_ssn":null,"skills":[],"status":"active","timezone":"America/Chicago","username":"45540"}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
