---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.659569,-73.933783%7C40.6860072,-73.851524%7C40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [
              "585 Schenectady Ave, Brooklyn, NY 11203, USA",
              "Parking lot, 8920 Atlantic Ave, Queens, NY 11416, USA",
              "585 Schenectady Ave, Brooklyn, NY 11203, USA"
           ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "20.8 km",
                          "value" : 20774
                       },
                       "duration" : {
                          "text" : "41 mins",
                          "value" : 2472
                       },
                       "status" : "OK"
                    }
                 ]
              },
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "19.5 km",
                          "value" : 19507
                       },
                       "duration" : {
                          "text" : "46 mins",
                          "value" : 2733
                       },
                       "status" : "OK"
                    }
                 ]
              },
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "20.8 km",
                          "value" : 20774
                       },
                       "duration" : {
                          "text" : "41 mins",
                          "value" : 2472
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.6860072,-73.851524%7C40.6860072,-73.851524%7C40.659569,-73.933783&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    b[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [ "585 Schenectady Ave, Brooklyn, NY 11203, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "20.8 km",
                          "value" : 20774
                       },
                       "duration" : {
                          "text" : "41 mins",
                          "value" : 2472
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.6860072,-73.851524%7C40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASC[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.6860072,-73.851524%7C40.659569,-73.933783&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASC[...]
[...]
