---
http_interactions:
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/scheduler/visits?client_id=3645624t56&count=100&end_at=2025-03-21T23:59:59Z&page=1&start_at=2015-03-21T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"items":[{"alayacare_client_id":1047,"alayacare_employee_id":137,"alayacare_service_id":44,"alayacare_visit_id":645,"cancel_code":null,"cancelled":false,"client_id":"3645624t56","employee_id":"AC000001227","end_at":"2021-11-01T23:30:00+00:00","notes":[],"service_code_id":6,"service_id":"","start_at":"2021-11-01T22:00:00+00:00","status":"missed","tags":[],"visit_id":null}],"items_per_page":100,"page":1,"total_pages":1}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/AC000001227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ac_id":"AC000001227","branch_id":1000,"contacts":[],"cost_centre":null,"demographics":{"country":"US","email":"baylee+fp@medarrive.com","first_name":"Baylee","last_name":"FP","location":null,"uid":"AC000001227"},"departments":[],"designation":null,"employment_type":null,"external_id":"AC000001227","groups":[],"id":137,"language":null,"max_weekly_capacity":null,"min_weekly_capacity":"0","payroll_number":null,"profile_id":130,"roles":[{"id":32,"name":"Field
        Providers"}],"skills":[],"status":"active","timezone":"America/New_York","username":null}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
