---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=29.658141,-95.355308&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=29.734886,-95.322579%7C29.717654,-95.387073%7C%7C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Houston, TX
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "9203 Cullen Blvd, Houston, TX 77051, USA" ],
           "origin_addresses" : [
              "Polk St @ Henninger St, Houston, TX 77023, USA",
              "Concert Drive, Houston, TX 77030, USA"
           ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "15.0 km",
                          "value" : 15044
                       },
                       "duration" : {
                          "text" : "17 mins",
                          "value" : 1023
                       },
                       "status" : "OK"
                    }
                 ]
              },
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "11.2 km",
                          "value" : 11173
                       },
                       "duration" : {
                          "text" : "13 mins",
                          "value" : 795
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=29.717654,-95.387073%7C29.734886,-95.322579%7C%7C&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=29.658141,-95.355308
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Houston, TX
    body:
      encoding:[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=29.658141,-95.355308&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=29.734886,-95.322579%7C29.734886,-95.322579
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Houston, TX
    body:
      encoding: ASCII[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=29.717654,-95.387073%7C29.717654,-95.387073&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=29.658141,-95.355308
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Houston, TX
    body:
      encoding: ASCII[...]
