---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.659569,-73.933783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [ "585 Schenectady Ave, Brooklyn, NY 11203, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "18.6 km",
                          "value" : 18573
                       },
                       "duration" : {
                          "text" : "39 mins",
                          "value" : 2349
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.659569,-73.933783&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "585 Schenectady Ave, Brooklyn, NY 11203, USA" ],
           "origin_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "17.2 km",
                          "value" : 17175
                       },
                       "duration" : {
                          "text" : "40 mins",
                          "value" : 2409
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
recorded_with: VCR 6.0.0
