---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747794,-73.985073
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "1 m",
                          "value" : 0
                       },
                       "duration" : {
                          "text" : "1 min",
                          "value" : 0
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747794,-73.985073&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.747795,-73.985071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "1 m",
                          "value" : 0
                       },
                       "duration" : {
                          "text" : "1 min",
                          "value" : 0
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
recorded_with: VCR 6.0.0
