---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.747795,-73.985071&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=40.6860072,-73.851524
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "23 E 33rd St, New York, NY 10016, USA" ],
           "origin_addresses" : [ "Parking lot, 8920 Atlantic Ave, Queens, NY 11416, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "17.5 km",
                          "value" : 17490
                       },
                       "duration" : {
                          "text" : "32 mins",
                          "value" : 1923
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Oct 2021 12:00:00 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=29.658141,-95.355308&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=29.734886,-95.322579%7C29.717654,-95.387073
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Houston, TX
    body:
      encoding: ASCII[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=29.717654,-95.387073%7C29.734886,-95.322579&key=AIzaSyBepKqwdkNKFWWydPgtaxSJNUlpAR4h3fM&origins=29.658141,-95.355308
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Houston, TX
    body:
      encoding: ASCII[...]
