---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - ro
      X-State:
      - 'RequestId: 1b9ab4d4-9b54-11ed-8cc0-0e331ff3b111, LoginId: 19274266, AccountId:
        3788256'
      X-Timer-Database:
      - '0.019163608551025'
      X-Timer-Total:
      - '0.043758153915405'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":44699656,"account_id":3788256,"login_id":0,"timezone_id":0,"created_by":42672280,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"","first_name":"asdgasdf","last_name":"asdfasdf","phone_number":"","employee_code":"FieldProvider_MfrSmAXsY3G5xCYr","activated":true,"is_hidden":false,"uuid":"d63b5e2394ad136093062058fb2d9ffdab7db790","notes":"","is_private":true,"hours_preferred":0,"hours_max":40,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":true},"swaps":{"sms":false,"email":true},"schedule":{"sms":false,"email":true},"reminders":{"sms":false,"email":true},"availability":{"sms":false,"email":true},"new_employee":{"sms":false,"email":true},"attendance":{"sms":true,"email":false},"payroll":{"sms":true},"hire":{"sms":false,"email":true},"workchat":{"alerts":true,"badge_icon":true,"in_app":true},"reporting":{"sms":false,"email":true},"shift-bidding":{"sms":true,"email":true},"workplace_alerts":{"sms":true,"email":true},"absences":{"sms":true,"email":true},"ot_alerts":{"sms":true,"email":true}},"reminder_time":2,"sleep_start":"23:00:00","sleep_end":"05:00:00","my_positions":[],"is_onboarded":false,"last_login":"Sun,
        29 Nov -001 19:03:58 -0456","hired_on":null,"terminated_at":"","dismissed_at":null,"notified_at":"Sun,
        29 Nov -001 19:03:58 -0456","invited_at":null,"created_at":"Tue, 06 Dec 2022
        14:05:49 -0500","updated_at":"Tue, 06 Dec 2022 14:05:49 -0500","deleted_at":"","is_deleted":false,"delete_reason":"","avatar_key":"","is_active":true,"password":false,"country_id":0,"c2dm_auth_key":0,"migration_id":0,"affiliate":0,"infotips":"","timezone_name":"America\/New_York","avatar":{"url":"https:\/\/platform.api.wheniwork.com\/avatar\/b989902d92857ba2d130712b62323c7c512f8ced\/%s","size":"%s"},"positions":[],"locations":[],"position_rates":[],"position_quality":[],"sort":{},"deletion_queued":false,"delete_at":null,"queued_delete_type":null},{"id":42658906,"account_id":3788256,"login_id":19045470,"timezone_id":11,"created_by":42656040,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"baylee+fp@medarrive.com","first_name":"Baylee","last_name":"FP","phone_number":"","employee_code":"1227","activated":true,"is_hidden":false,"uuid":"4569110c6694a496bb4840512ccc9e7dd6ebbbca","notes":"","is_private":true,"hours_preferred":0,"hours_max":0,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":0,"email":0},"swaps":{"sms":0,"ema[...]
- request:
    method: put
    uri: https://api.wheniwork.com/2/users/44803567
    body:
      encoding: UTF-8
      string: '{"email":"ressie.kling@runolfsdottir.com","first_name":"Jean","last_name":"Swaniawski","phone_number":null,"employee_code":"S132"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <WHENIWORK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database:
      - rw
      X-State:
      - 'RequestId: 1bd39e16-9b54-11ed-98be-f685575690ed, LoginId: 19274266, AccountId:
        3788256'
      X-Timer-Database:
      - '0.032419681549072'
      X-Timer-Total:
      - '0.075382947921753'
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"id":44803567,"account_id":3788256,"login_id":0,"timezone_id":0,"created_by":42672280,"role":3,"is_payroll":false,"is_trusted":0,"type":1,"email":"ressie.kling@runolfsdottir.com","first_name":"Jean","last_name":"Swaniawski","phone_number":"","employee_code":"S132","activated":true,"is_hidden":false,"uuid":"ffad0279d3711daa4c0fa9c781b92cdfb10b5e4f","notes":"","is_private":true,"hours_preferred":0,"hours_max":40,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":true},"swaps":{"sms"[...]
- request:
    method: put
    uri: https://medarrive.<ALAYACARE_ENVIRONMENT>.alayacare.com/ext/api/v2/employees/employees/by_id/S132
    body:
      encoding: UTF-8
      string: '{"demographics":{"first_name":"Jean","last_name":"Swaniawski","email":"ressie.kling@runolfsdottir.com","address":"58210
        Esteban Cove","address_suite":"Suite 123","city":"Mantebury","state":"MN","zip":"81708-9965"},"username":"ressie.kling@runolfsdottir.com"}'
    headers:
      Authorization:
      - "<BASIC ALAYACARE_PUBLIC_KEY>Ok1lN0lnZmphdDdBT05sSm5JYnc3NFI3SG1jRWdEcVExY1JaQlZjZkRqM1k="
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"external_id":"S132","id":132}

'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
