---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/oauth2/v1/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=athena%2Fservice%2FAthenanet.MDP.*&client_id=0oag8cvsnzNt58Vwl297&client_secret=3Q4CJrXaY_hgz-nNscFFVm02SpKOrcJS75tesqkl
    headers:
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","access_token":"b7YLBdNXfOOkdHjxozzbDfJmlxg9","scope":"athena/service/Athenanet.MDP.*"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/open
    body:
      encoding: UTF-8
      string: departmentid=3&providerid=4&appointmentdate=01%2F20%2F2030&appointmenttime=15%3A00&appointmenttypeid=41
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49930'
    body:
      encoding: UTF-8
      string: '{"appointmentids":{"117872":"15:00"}}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117872
    body:
      encoding: UTF-8
      string: patientid=4&appointmenttypeid=41&departmentid=3&ignoreschedulablepermission=true&nopatientcase=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49930'
    body:
      encoding: UTF-8
      string: '[{"date":"01\/20\/2030","appointmentid":"117872","starttime":"15:00","departmentid":"3","appointmentstatus":"f","patientid":"4","duration":60,"referringproviderid":"","renderingproviderid":"","appointmenttypeid":"41","appointmenttype":"Home+Telehealth","providerid":"4","chargeentrynotrequired":false,"supervisingproviderid":"","patientappointmenttypename":"Home+Telehealth"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117872/nativeathenatelehealthroom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49929'
    body:
      encoding: UTF-8
      string: '{"appointmentid":"117872","patienturl":"https:\/\/telehealth-preview.px.athena.io\/join\/rWdVPcB8AyBBF8D7BTmB.27646","jointoken":"rWdVPcB8AyBBF8D7BTmB.27646"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117872/customfields
    body:
      encoding: UTF-8
      string: customfields=%5B%7B%22customfieldid%22%3A%2245%22%2C%22customfieldvalue%22%3A%22spec_Visit_27%22%7D%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49928'
    body:
      encoding: UTF-8
      string: '{"success":1,"updatedcount":0,"disallowedcount":1}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117872
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49929'
    body:
      encoding: UTF-8
      string: '[{"date":"01\/20\/2030","appointmentid":"117872","starttime":"15:00","departmentid":"3","appointmentstatus":"f","patientid":"4","duration":60,"appointmentcopay":{"collectedforother":0,"collectedforappointment":0,"insurancecopay":0},"referringproviderid":"","copay":0,"renderingproviderid":"","appointmenttypeid":"41","appointmenttype":"Home+Telehealth","providerid":"4","chargeentrynotrequired":false,"supervisingproviderid":"","patientappointmenttypename":"Home+Telehealth"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117872/reschedule
    body:
      encoding: UTF-8
      string: patientid=4&newappointmentid=117873&ignoreschedulablepermission=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49930'
    body:
      encoding: UTF-8
      string: '[{"appointmentid":"117873","departmentid":"3","referringproviderid":"","providerid":"","supervisingproviderid":"","appointmentstatus":"f","duration":60,"patientid":"4","appointmenttypeid":"41"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117872
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49929'
    body:
      encoding: UTF-8
      string: |2-


        {"error":"Cannot delete a scheduled or non-existing appointment slot."}
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117875/startcheckin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49927'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117875
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49922'
    body:
      encoding: UTF-8
      string: '[{"date":"01\/20\/2030","appointmentid":"117875","starttime":"16:00","departmentid":"3","encounterstate":"PEND","appointmentstatus":"f","patientid":"4","duration":60,"encounterid":"1750","startcheckin":"05\/18\/2023
        21:32:55","appointmentcopay":{"collectedforother":0,"collectedforappointment":0,"insurancecopay":0},"referringproviderid":"","copay":0,"renderingproviderid":"5","appointmenttypeid":"41","appointmenttype":"Home+Telehealth","providerid":"5","chargeentrynotrequired":false,"supervisingproviderid":"","patientappointmenttypename":"Home+Telehealth"}]'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117875/cancel
    body:
      encoding: UTF-8
      string: patientid=4&ignoreschedulablepermission=true&appointmentcancelreasonid=13
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49924'
    body:
      encoding: UTF-8
      string: '{"status":"x"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/117878/customfields
    body:
      encoding: UTF-8
      string: customfields=%5B%7B%22customfieldid%22%3A%2245%22%2C%22customfieldvalue%22%3A%22spec_Visit_27%22%7D%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer b7YLBdNXfOOkdHjxozzbDfJmlxg9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49920'
    body:
      encoding: UTF-8
      string: '{"success":1,"updatedcount":0,"disallowedcount":1}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
