---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/oauth2/v1/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=athena%2Fservice%2FAthenanet.MDP.*&client_id=0oag8cvsnzNt58Vwl297&client_secret=3Q4CJrXaY_hgz-nNscFFVm02SpKOrcJS75tesqkl
    headers:
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Headers:
      - '{:content_type=>"application/x-www-form-urlencoded"}'
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","access_token":"Axm6fwbbGsU3AnaOlKew1Dbepkhi","scope":"athena/service/Athenanet.MDP.*"}'
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments//startcheckin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer Axm6fwbbGsU3AnaOlKew1Dbepkhi
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49968'
    body:
      encoding: UTF-8
      string: |2-


        {"error":"An unknown API path was called."}
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/27646/appointments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer Axm6fwbbGsU3AnaOlKew1Dbepkhi
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Nncoection:
      - close
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49968'
    body:
      encoding: UTF-8
      string: |2-


        {"error":"An unknown API path was called."}
  recorded_at: Sat, 21 Mar 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
